[2020-08-27 22:24] nils-braun opened #2 "Add a packaged version of dask-sql"
Currently, `dask-sql` can only be installed via the source. We should find out, if uploading the packaged jar (contained in a wheel) together with the python code makes sense and if and how we can create a conda package (probably via conda-forge).

[2020-08-27 22:27] nils-braun opened #3 "Check/Assign the type in fix_column_to_row_type and check_columns_from_row_type"
The `RelDataType` has all the information on the types of the columns also. Currently, we rely on dask to create the correct type - but we won't get subtle differences such as `int32` and `int64` with that.
Therefore a type conversion for each column should be implemented (and checked) in the `fix_column_to_row_type` and `check_columns_from_row_type` functions.

[2020-08-27 22:29] nils-braun opened #4 "Show better error messages"
When there is a SQL validation error, the error is shown on the screen. However, we always get a nested Java and Python exception, which might lead to confusion.
The blazingSQL project created their own SQL exception in Java for this - we might also get along with just catching and parsing the Java exception in python and printing out a piece of more useful information to the user in the `Context.

[2020-08-27 22:30] nils-braun opened #5 "Check optimization rules"
The rules currently implemented in the `RelationalAlgebraGenerator` java class are a mixture of the standard rules and the ones from the blazingSQL project.
So far, they have worked quite well. However, it might be good to check, if we have the best set of rules for optimization in place.

[2020-08-27 22:33] nils-braun opened #6 "Improve the SQL server"
The SQL server is definitely just a hacky proof-of-concept so far.
It can be improved in multiple ways:
* at least add some documentation and tests
* handle multiple connections at the same time
* error handling and sending the error back to the user
* authentication
* is a socketserver really the best library to use?
* possibility to define dataframes from SQL (e.g. specifying to read from S3, hd

[2020-08-27 22:35] nils-braun opened #7 "Fill the type mappings"
There are many SQL types and relevant python types in the SQL to python mappings in `mappings.py` still missing.
Those can be added one-by-one.

[2020-08-27 22:37] nils-braun opened #8 "Implement WITHIN GROUP and ORDER BY in groupby aggregations"
`WITHIN GROUP` and `ORDER BY` are not implemented in the groupby aggregations.

[2020-08-27 22:41] nils-braun opened #9 "Implement more aggregation functions"
The `LogicalAggregatePlugin` currently can only handle the most common aggregation functions (max, min, sum, etc). There are many more of them (see e.g. [here](https://www.oreilly.com/library/view/sql-in-a/9780596155322/ch04s02.html#ansi_sql_aggregate_functions-id1)) that could be implemented.
One should also check, how many of them are actually in the calcite language standard and if choosing a d

[2020-08-27 22:42] nils-braun opened #10 "Implement descending sorting"
Currently, `dask-sql` can only handle descending sorting, as the `set_index` function can not handle anything else.
This might be possible to overcome, e.g. by using a clever way of column redefinitions or by implementing a custom function (instead of `set_index`).

[2020-08-27 22:44] nils-braun opened #11 "Implement more expression operators"
The `RexCallPlugin` currently can only handle the most common expressions (binary operations, or and and). There are many more of them that could and should be implemented.
Similar to the aggregate functions in #9: One should also check, how many of them are actually in the calcite language standard and if choosing a different SQL dialect makes more sense.

[2020-08-27 22:46] nils-braun opened #12 "Implement more plugins"
So far, basically all standard `SELECT` statements can be handled, because most of the `RelNodes` and `RexNodes` Apache Calcite will produce are already covered. However, there exist more of them and more advanced use cases might trigger them (leading to a `NotImplementedError` so far).

I would suggest to first find use cases of SQL, where those other classes are triggered, and then use them as a

[2020-08-27 22:50] nils-braun opened #13 "Make it possible to interact with external data sources"
Currently, all data frames need to be registered before using them in `dask-sql`.
However, it could also be interesting to have dataframes directly from S3 (or any other storage, such as hdfs), from the Hive metastore or by creating temporary views. In the background, one could create dask dataframes and use the normal registration process.

For this, we first need to come up with a good SQL synta

[2020-08-29 14:12] mariusvniekerk commented on #2
conda-forge would gladly accept this

[2020-08-31 19:51] nils-braun commented on #2
Thanks for the hint, that is very good to hear!
Once there is a somewhat ok-ish first version, I will upload to pipy and also create a conda-forge PR.

[2020-09-04 19:37] kyprifog opened #23 "Unrecognized option: --illegal-access=deny"
Great work with this library!   I ran into one small snag:

dask-sql==0.1.dev13+gdf4572c
Unable to start JVM due to --illegal-access=deny.  Once I remove that option then the library seems to work fine

https://github.com/nils-braun/dask-sql/blob/main/dask_sql/java.py#L15

[2020-09-05 05:16] nils-braun commented on #23
Thank for your bug report and thanks for trying out the package!
I assume that comes from a different java version.
Could you tell me yours via `java -version` and if you have installed java via conda?

The option prevents a warning in newer versions which will turn into a real exception in future versions.

[2020-09-06 00:34] kyprifog commented on #23
[code]

[2020-09-06 06:12] nils-braun commented on #23
Thanks! I will create a PR to fix this

[2020-09-06 19:01] #23 closed

[2020-09-06 19:32] raybellwaves commented on #7
https://www.w3schools.com/sql/sql_datatypes.asp
Believe this is of reference.

[2020-09-06 20:01] raybellwaves commented on #7
Types TODO: (x indicates it is has been included)

- [] ANY
- [] ARRAY
- [x] BIGINT
- [] ...

TODO: fill out more of the above

Also remove this duplicated line https://github.com/nils-braun/dask-sql/blob/main/dask_sql/mappings.py#L17

[2020-09-07 16:50] nils-braun commented on #7
Thank you very much for giving the references @raybellwaves!
I added the remaining entries to your list (sorry for editing one of your comments)

[2020-09-07 20:08] raybellwaves commented on #7
Np at all. I was originally planning to add them all but had to drop off. Expect me to very intermittent :) but looking forward to contributing nonetheless

[2020-09-08 17:07] nils-braun commented on #2
I have added a first release candidate for 0.1.0 on pipy (for testing) and have also created a conda recipe [here](https://github.com/conda-forge/staged-recipes/pull/12587)

[2020-09-08 17:44] mrocklin commented on #2
I just had a play with this.  Fun!

I ran into tiny speed bumps, but they were expected at this stage.  In
general it was fun to play around.

On Tue, Sep 8, 2020 at 10:07 AM Nils Braun <notifications@github.com> wrote:

[2020-09-08 19:18] nils-braun commented on #2
Thanks for trying it out!
I already found one issue which causes some bad performance, which is the renaming of columns I do to be as general as possible at each stage. But this will be fixed soon.
If you have any particular test case you would like to share, I am super happy to have a look!

[2020-09-08 20:28] mrocklin opened #27 "Unnamed Exprs in column names after aggregation"
[code]

[code]

[2020-09-08 20:31] mrocklin opened #28 "Avoid scary tracebacks in malformed query"
I mistakenly missed the quotes around a name in my query

[code]

And I got a scary traceback

[code]

I wonder if we maybe want to capture these exceptions and reraise them from a fresh, and much shorter stack.

[2020-09-08 20:41] nils-braun commented on #28
Definitely!
I have also added my thoughts in #4 on this. That should definitely be fixed.
As stated there, the blazingSQL project extracts the interesting part from the java exception in java.
We might be able to do something similar (maybe without writing a custom java exception class).

[2020-09-08 20:57] mrocklin commented on #28
Ah!  I should have looked at the issue tracker before raising this.  I'll continue comments on the other thread.

[2020-09-08 20:57] #28 closed

[2020-09-08 20:58] mrocklin commented on #4
I ran into this myself.  Here was a small/simple example

[code]

As a user, nothing in the calcite stack trace means anything to me.  The error message itself is useful though.  I wouldn't mind chopping off everything in the cython/java side and just raising the exception without a meaningful traceback.  There is probably some value to devs in the traceback though I suppose.

[2020-09-09 14:58] kyprifog commented on #23
Thanks for your prompt attention!  I'll test this out later.

[2020-09-09 14:59] kyprifog commented on #2
Btw I published my fork up to pypi here:  https://pypi.org/project/mason-dask-sql/   But I pinned and pushed up the JAR which is probbably not what you want to do.

Happy to help get the official verison out on pypi at some point.

[2020-09-10 20:16] nils-braun commented on #27
That is a very reasonable suggestion.
Unfortunately, all that Apache Calcite gives to us is these `EXPR$` names. I think it would make sense to replace them "by hand" with the actual string in the SQL call (would be `sum(x)` in your case).

I guess what I could do is re-translate the parsed expression into SQL (which will hopefully turn the `LogicalProject(SUM, $0)` back into `sum(x)`).

[2020-09-10 20:22] nils-braun commented on #2
I have seen your work @kyprifog ;-) Thanks for doing the first step here.
In my first draft I have also included the JAR in the wheel (see `setup.py` and the github workflows). I am not so sure if this is that bad. Because I definitely not want the user to need to install mvn just for this. I would assume that the cool thing about Java is, that it should actually be platform-independent :-)
How wo

[2020-09-11 09:38] #4 closed

[2020-09-13 19:40] #27 closed

[2020-09-14 15:30] kyprifog commented on #2
Actually personally I don't see any problem with packaging the jar either, I just assumed that you didn't want to do that based on the fact that it was in the gitignore.

I agree with not requiring the average pypi user with needing to install maven.   Probbably packaging the jar is the best route to go to be sensitive to that requirement.    The only issue I think is maybe with java compatability

[2020-09-14 17:14] nils-braun commented on #2
Good observation! Yes, I do not want to have it in the repo, therefore I put it in the .gitignore. Users downloading the project from github probably want to test things out by themselves (and are typically "developers") - and I do not think that jars in general should belong to a git repo (they are not very good to be shown in diffs...). Do you think that is inconsistent?

I also hope that testin

[2020-09-14 17:22] kyprifog commented on #2
Yeah I agree this is a good point.  Maybe a better place to put it is in a public s3 bucket, or something like artifactory.

[2020-09-14 20:33] nils-braun commented on #2
Just to make sure, I understand this correctly: you proposing to add the jar to an external provider so that developers do not need to build it by themselves or to not put it in the wheel?
Because for me putting it into the wheel/conda package or uploading it to an additional external source will not be much of a difference (with the exception that putting it into the wheel will give the user a se

[2020-09-14 21:00] kyprifog commented on #2
Ah my bad I misunderstood, you are just wanting to push it up to the pypi package but not up in git.   Yeah this makes sense, you can just make sure that your publish script is pushing up the jar.   You will have to make sure that the jar is in the MANIFEST.in I believe.

[2020-09-15 22:07] nils-braun commented on #2
I think after having created correct tests for different versions and having the pipy Package and the conda forge package ready and automatic I can close this issue.

[2020-09-15 22:08] #2 closed

[2020-09-16 20:52] kyprifog opened #37 "Implement IS NOT NULL"
Reminder for later.  Currently
```SELECT * from $table WHERE col_b IS NOT NULL```
results in:

[code]

[2020-09-16 20:55] kyprifog opened #38 "Implement <>"
Currently
```SELECT * from $table WHERE NOT(col_b = 123.0)```
results in

[code]

[2020-09-18 09:13] nils-braun commented on #9
From [SqlStdOperatorTable.java](https://github.com/apache/calcite/blob/master/core/src/main/java/org/apache/calcite/sql/fun/SqlStdOperatorTable.java), here are all aggregation functions that calcite understands.

[ ] ANY_VALUE
[ ] APPROX_COUNT_DISTINCT
[ ] AVG
[ ] BIT_AND
[ ] BIT_OR
[ ] BIT_XOR
[ ] COUNT
[ ] COVAR_POP
[ ] COVAR_SAMP
[ ] EVERY
[ ] FIRST_VALUE
[ ] LAG
[ ] LAST_VALUE
[ ] LEAD
[ ] MAX

[2020-09-21 21:05] nils-braun commented on #12
Here is the list of java classes in the Apache Calcite project under [rel/logical](https://github.com/apache/calcite/tree/master/core/src/main/java/org/apache/calcite/rel/logical
and if they still need to be implemented:

- [x] LogicalAggregate
- [x] LogicalCalc -> a combination of project and filter, which is not in use as the corresponding optimization is not included (and also not needed)
- [ ]

[2020-09-21 21:15] nils-braun commented on #11
First (maybe unfinished) set of operations, taken from [SqlFunctions.java](https://github.com/apache/calcite/blob/master/core/src/main/java/org/apache/calcite/runtime/SqlFunctions.java)

- [x] -
- [x] *
- [x] /
- [x] +
- [x] <
- [x] <=
- [x] =
- [x] <>
- [x] >
- [x] >=
- [ ] ABS
- [ ] ACOS
- [ ] ASIN
- [ ] ATAN
- [ ] ATAN2
- [ ] BIT_AND
- [ ] BIT_OR
- [ ] BIT_XOR
- [ ] CBRT
- [ ] CEIL
- [ ] COS
-

[2020-09-22 17:21] #37 closed

[2020-09-22 17:21] #38 closed

[2020-09-24 18:54] nils-braun opened #43 "Implement windowing functions"
So far, aggregation can only work without windowing (without the `OVER` keyword).

Unfortunately, I do (still) not know how to implement the very broad windowing techniques from SQL in dask.

[2020-09-24 20:22] nils-braun commented on #7
I have updated the type mappings from the [Calcite Documentation](https://calcite.apache.org/docs/reference.html)

[2020-09-24 21:53] nils-braun opened #45 "Implement all complex operations"
These operations need complex types (e.g. collections).
Taken from [here and ff](https://calcite.apache.org/docs/reference.html#value-constructors).

Value Constructors

- [ ] ROW
- [ ] ( )
- [ ] [ ]
- [ ] ARRAY
- [ ] MAP

Collection Operations

- [ ] ELEMENT
- [ ] CARDINALITY
- [ ] MEMBER OF
- [ ] IS A SET
- [ ] IS NOT A SET
- [ ] IS EMPTY
- [ ] IS NOT EMPTY
- [ ] SUBMULTISET OF
- [ ] NOT SUBMULT

[2020-09-25 14:04] martindurant opened #46 "Update dask docs yet?"
https://docs.dask.org/en/latest/dataframe-sql.html explicitly says that dask does not "implement" SQL. But now it does! This is a reminder to update that page, when this package feels ready enough to be publicised.

[2020-10-04 20:28] nils-braun commented on #3
Fixed in #49

[2020-10-04 20:28] #3 closed

[2020-10-13 09:10] nils-braun commented on #6
Fixed via #56

[2020-10-13 09:10] #6 closed

[2020-10-13 09:12] nils-braun opened #57 "Improve SQL server"
Implement more advanced (but required concepts):
* authentication
* install libraries to enable usage of external filesystems (s3, HTTP, etc.)

[2020-10-14 09:18] nils-braun commented on #13
It is now (after #55) possible to create new tables by reading in data, e.g. with

[code]

However, it is not clear so far if this suits all the needs (e.g. S3). Additionally, an interaction with hive would be interesting.

[2020-10-21 20:47] nils-braun opened #58 "Unify the API of dask-sql and blazing-sql"
After a very nice discussion with @felipeblazing (thanks again for reaching out!), we decided to unify the APIs of dask-sql and [blazing-sql](https://github.com/BlazingDB/blazingsql), so that users can switch between the different packages more easily (and therefore switch between "normal" CPU dask and GPU-enabled rapids). As blazing has been around much longer already, I think it would make sense

[2020-10-21 23:57] felipeblazing commented on #58
This is so exciting for us!!!  The .log method is basically some hacky short hand that creates a table from the different log files that blazing generates and then allows you to query them. Since you are leveraging dask for all of the execution you shouldn't need to worry about .log at all. These are definitely the most important apis and if we both implemented them the same way should be easy to

[2020-10-23 01:30] raybellwaves opened #59 "Add binder badge"
Would be useful to have a cluster available for someone who wants to quickly try. I'll be happy to help here.

[2020-10-23 01:56] raybellwaves commented on #13
https://github.com/BlazingDB/blazingsql/issues/937 may also be relevant

[2020-10-23 05:53] nils-braun commented on #59
That would be very great! Thank you so much for looking into it!

[2020-10-27 21:01] mrocklin commented on #58
Just coming back from vacation and going through e-mails.  I was very happy to see this one in particular and thought I'd give a :heart:

[2020-10-28 00:19] raybellwaves commented on #46
Related to https://github.com/dask/dask/issues/6592

[2020-10-28 20:50] nils-braun opened #61 "Test the usage with BI tools"
As the server speaks the presto protocol, which is understood by most of the BI tools, it would be nice to test and showcase it with some of them.
For example I have done a very quick test with both hue and metabase, which look promising - but also have shown some additional quirks in the server implementation.

[2020-10-29 20:32] nils-braun opened #64 "Use the correct java path also directly after installation"
When installing dask-sql via conda, also Java is installed as dependency. This sets the `$JAVA_HOME` environment variable to the correct path, so that java applications will pick up the correct java installation.
However, it can (of course) only do this for newly spawned processes.
If you install dask-sql in e.g. a jupyter notebook (via "! conda install dask-sql") it won't work.

In this case, the

[2020-10-29 21:55] #64 closed

[2020-10-30 15:52] beckernick commented on #58
This is a *fantastic* idea and I also want to comment a heart ❤️  (copying @mrocklin 😄 )

[2020-10-31 19:00] rajagurunath commented on #61
Hi @nils-braun

First of all thanks for this awesome project😍.

I have tried using dask-sql's presto server with Apache-Superset (Open source BI tool in python ecosystem) using PyHive(presto) as a driver.

Superset Happily detected and accepted Presto protocol.

But As you mentioned there are some quirks, one such thing was mentioned below.

_The Superset after successful execution of the Query no

[2020-11-01 19:02] beckernick commented on #43
There's been a good chunk of effort put into an efficient hash-partitioning shuffle in Dask this year. Perhaps this could be leveraged here?

I could imagine parsing the query plan and mapping the `func() OVER (PARTITION BY hash_cols ORDER BY col) AS ...` to a custom task composed of several standard Dask operations. With the hash repartition, all unique rows corresponding to specific hash values

[2020-11-02 06:48] nils-braun commented on #61
Thank you so much for testing it out! That is very valuable to me and with every test, we learn something more about it :-)

I will try to install and setup Apache Superset today and will try to set it up. I will come back with my thoughts after that.

[2020-11-02 14:25] nils-braun commented on #61
Hi @rajagurunath!
I have successfully tested Apache Superset (by the way - great tool. Thanks for bringing my attention to it :-))

I was running on Superset master, but I can reproduce your error with dask-sql 0.1.2. It seems, I was not implementing the presto protocol properly.
Fortunately, I was working on a new better implementation anyways, where this problem (and a few others) are fixed :-)

[2020-11-02 18:21] rajagurunath commented on #61
Wow Superb, Thanks a ton @nils-braun , that was real quick.

Indeed , Apache Superset is an Awesome Tool in every aspect among the BI tools in python ecosystem.

Making this Integration between dask-sql and a BI tool seamless ,will opens up lot of potential use cases I guess.

- No need to save the preprocessed (prepared) files in another DB (sqlite or duckDB) to be used by the BI Tools
- Since da

[2020-11-03 03:06] carkar7 opened #70 "Wildcards in WHERE clause raises error when column contains NULLS"
When I run the following code I get a TypeError:

[code]

[code]

If I remove "NOT",  then I get a ValueError:

[code]
[code]
Adding the line 'OR s.name IS NULL' resolves the issue only in the second example

[2020-11-03 07:49] nils-braun commented on #61
Very thoughtful comments from your side!
Thanks for sharing your code and how-to. Yes - this is exactly correct.

Do you have a running Superset service already? Or do you start one via docker or docker-compose? As I am new to the service I would be interested in how to deploy it for development best. Currently, I am using a docker-compose setup (which works).

[2020-11-03 12:18] nils-braun commented on #70
Thank you so much @carkar7 for testing it out and creating the issue (even with a nice MWE).

I checked how postgres would react to a NaN in a LIKE call and it seems it will keep the NaN (and will then dismiss these rows when doing the filter). I have therefore implemented the same thing: I pass on the NaN (via a boolean pandas type, which is a nullable bool type).
If you want, you can check out t

[2020-11-03 21:08] carkar7 commented on #70
Awesome! New PR fixes it

[2020-11-03 22:03] #70 closed

[2020-11-04 18:57] #58 closed

[2020-11-04 19:00] nils-braun commented on #58
With the latest PR, `dask-sql` now copies the blazing API in the important functions

	.explain
	.create_table
	.drop_table
	.sql

and is therefore interchangeable with it. It has no implementation of the filesystem methods - as they do not make a lot of sense when being only on the dask world (e.g. the S3 credential parameters can just be given when reading in the data itself) - which is differen

[2020-11-06 16:13] raybellwaves commented on #59
Closed via https://github.com/nils-braun/dask-sql/pull/72

[2020-11-06 16:13] #59 closed

[2020-11-06 16:15] raybellwaves opened #74 "Feature Request: add .__version__"
Could see how they do it in dask

https://github.com/dask/dask/blob/master/dask/_version.py

[2020-11-07 14:47] nils-braun commented on #13
Just a small update: interaction with hive is implemented as a experimetal feature in 0.2.0 (#63).
And as https://github.com/dask/adlfs/pull/111 was implemented, it should also be possible to use `az://` as input format (although untested)

[2020-11-07 16:26] raybellwaves commented on #13
It'll be worth testing with a public repo

[code]

[2020-11-14 21:53] #74 closed

[2020-11-14 22:12] nils-braun commented on #74
I should definitely add this to my todo list whenever I start a new project :-)
Thanks for bringing this up!

[2020-11-15 21:15] nils-braun opened #80 "Remove to_delayed/from_delayed calls"
Thanks to @mrocklin, I have learned that using the delayed bindings introduce a performance bootleneck.
In [this part](https://github.com/nils-braun/dask-sql/pull/75/files#diff-1fcfb9a4ff196f6a0e8fb3847cc3d2300b9b3a91af77f0555e6a61a179757802R153), I still need them. It would be nice to remove it there.

_Originally posted by @nils-braun in https://github.com/nils-braun/dask-sql/pull/75#discussion_

[2020-11-15 21:19] #10 closed

[2020-11-16 18:22] raybellwaves opened #81 "Add documentation link to GitHub Repo"
Github allows you put a link to the documentation at the top of the page

Could put https://dask-sql.readthedocs.io/en/latest/ there

![image](https://user-images.githubusercontent.com/17162724/99292075-bbc78380-280e-11eb-827f-b38b364a8aa2.png)

[2020-11-16 20:42] nils-braun commented on #81
Yes, makes a lot of sense!
I have done so :-)

[2020-11-16 20:42] #81 closed

[2020-11-20 15:37] raybellwaves opened #82 "$JAVA_HOME env var set to $CONDA_PREFIX/Library"
When doing `from dask_sql import Context` it brings up `UserWarning: You are running in a conda environment, but the JAVA_PATH is not using it. If this is by mistake, set $JAVA_HOME to $CONDA_PREFIX.`. which comes from https://github.com/nils-braun/dask-sql/blob/02e2dad28741e4da84b3a957c0eedee40e262431/dask_sql/utils.py#L31

However, on the command line I see

[code]

Perhaps the check in https://

[2020-11-20 16:01] raybellwaves opened #83 "connect to databricks cluster"
I'm taking a look at https://dask-sql.readthedocs.io/en/latest/pages/data_input.html#load-hive-data and i'm curious if a variant exists to connect to a databricks cluster (https://docs.microsoft.com/en-us/azure/databricks/integrations/bi/jdbc-odbc-bi) to extract tables/info from the Hive metastore.

https://stackoverflow.com/a/61806107/6046019 may also be relevant

[2020-11-20 17:06] raybellwaves opened #84 "unable to select a column without quotation from a table"
Trying to select a column from a table and getting `ParsingException`.

Select * works.

[code]

But when trying to select a column (UUID_SAILING) I get

[code]

I believe what is happening is it is expecting quotation around the field name

[code]

Note: i'm on windows and the table was created using
`c.create_table("my_data", remote_folder + "databricks_out_tmp/file.parquet", storage_options=sto

[2020-11-21 02:15] raybellwaves commented on #84
This is reproducible

[code]

[2020-11-21 02:17] raybellwaves commented on #13
see https://github.com/nils-braun/dask-sql/issues/84

[2020-11-21 15:49] nils-braun commented on #82
Oh interesting!
Thank you very much for reporting.

On Linux, it seems that the JAVA_HOME is set to the conda prefix - but on Windows it seems to be different.
That should be fixed, definitely

[2020-11-24 17:21] quasiben opened #87 "Boolean Where Clause Behavior"
Starting from a random timeseries table I played a bit with the `where` clause and got some unexpected results:

[code]

[code]

However with `False`, `(0 = 1)`, and `(1 = 1)` there are failures:

[code]

The above is not totally unexpected -- a pandas dataframe cannot perform `df[True]`.  However, with SQL I believe `WHERE Boolean` is valid.  Is this reasonable to expect `dask-sql` to handle clea

[2020-11-24 19:45] nils-braun commented on #87
Thank you very much for testing and making a bug report!
That is definitely reasonable. I think it should be doable by checking, if the filter is a scalar and just applying it directly on the dataframe. I needed to do something similar for the JOINS (because `a JOIN b ON True` is actually allowed) - so that should also be possible here.
I have not checked, but I think the first one is optimized by

[2020-11-24 19:49] nils-braun commented on #84
Very good issue, @raybellwaves, and thanks for the MVE.
Just to add some context to this: dask-sql is following the postgreSQL SQL standard. In this standard, every identifier without quotations will be turned into lowercase for comparison. So `vendorID` -> `vendorid` and this column is actually unknown.
That makes sense for postgreSQL, as there only columns with lowercase will be created (except

[2020-11-28 20:14] nils-braun commented on #84
I have added a PR to go with the first option

[2020-11-28 20:57] #84 closed

[2020-11-28 20:57] nils-braun commented on #84
Feel free to reopen if the problem is still there

[2020-11-28 20:59] #87 closed

[2020-11-28 21:00] nils-braun commented on #87
Thanks again for the issue, @quasiben
WIth the implemented fix I was able to run your examples. If you still see the issue, feel free to reopen.

[2020-11-28 21:50] nils-braun commented on #83
That is a very interesting issue. Do you have - by any chance - a working databricks setup where you would be able to test this?

To be honest, I have never worked with Azure Databricks before, so I do not have any experience. However, I have found [this](https://kb.databricks.com/python/sql-in-python.html). In the code, there is the creation of a hive cursor described. This is also exactly what i

[2020-11-29 15:41] quasiben commented on #87
Thanks @nils-braun !

[2020-11-30 21:16] #82 closed

[2020-11-30 21:17] nils-braun commented on #82
I think I have solved it with the PR (at least in the tests). If you still have a problem feel free to reopen.

[2020-12-02 03:38] raybellwaves commented on #83
Just making some notes here

Some common terms:

token = TOKEN # "xxxx" see https://docs.microsoft.com/en-us/azure/databricks/dev-tools/api/latest/authentication#token-management
auth = "token:{}".format(token)
host = HOST # "adb-x.x.azuredatabricks.net
port = 443
database = DATABASE # "tmp"
http_path = "sql/protocolv1/o/x1/x2"
workspace_url = "x" # Name of the databricks instance
workspace_id = "

[2020-12-13 19:14] nils-braun commented on #83
Sorry for the long pause, but let me summarize what we discussed verbally and what the current status is:
There are three problems that prevent this from working, which all need to be solved (does not need to be in this order):
* `dask-sql` expects the output of `DESCRIBE TABLE` to be in a certain format, which does not fit with the databricks one. This is easy to fix.
* `dask-sql` is relying on D

[2020-12-14 14:52] raybellwaves commented on #83
I'll take a look here. I think `df.write.format("parquet").saveAsTable("tmp.df")` is optimal (?) in most cases anyway.

I may also investigate the file structure of [delta tables](https://docs.delta.io/latest/index.html) `df.write.format("delta").saveAsTable("tmp.df")`

[2020-12-15 22:03] raybellwaves commented on #83
WIP:

Adding a couple steps in the table creation

[code]

Then check the formats locally:

Setup connection
[code]

[2020-12-29 21:53] quasiben opened #96 "Support Analyze Query"
This could very well be difficult to implement but the [ANALYZE](https://dev.mysql.com/doc/refman/5.6/en/analyze-table.html) query would be useful to have.  For reference this is what spark currently supports with respect to `ANALAYZE`:
https://spark.apache.org/docs/3.0.0/sql-ref-syntax-aux-analyze-table.html

[2020-12-29 22:50] nils-braun commented on #96
Thanks for the feature request - depending on which part you refer that is either easy or not possible :-D Would you like to...
* get statistics on a table, e.g. as shown in this output table from the spark documentation:
[code]
* or would you like to have a more optimal query (computation) plan after having executed this statement?

[2020-12-30 03:04] quasiben commented on #96
I should have been more clear, apologies.  The former, that is, getting statistics on tables is the feature request here

[2020-12-30 07:06] nils-braun commented on #96
No no, that is absolutely fine. Both would have been a valid request! Fortunately, that one is easier ;-)

[2020-12-30 16:27] romainr opened #97 "`DROP table x` support"
A user can do:

`CREATE table demo as select 1 as n;`

But then how to delete it?

[2020-12-30 17:15] nils-braun commented on #97
Reasonable request :-) Should be easy to add. I wanted to have the "IF NOT EXISTS" syntax anyways (but did not create an issue so far) and that would fit well with it

[2021-01-01 14:32] ibnbay99 opened #99 "connect to intake catalog"
- Can dask-sql connect to [intake](https://github.com/intake/intake) catalog server and using their own `Authorization Plugins`?

I would love if this 2 project can merge their great features, to be more powerful tools 🙂

[2021-01-02 08:36] nils-braun commented on #83
Working in referencinf dbfs from dask here: https://github.com/intake/filesystem_spec/pull/504
Once this is finished, we can continue testing and maybe refining the dask-sql code to solve this issue :-)

[2021-01-02 11:27] ibnbay99 opened #102 "Failed read mapping datetime with timezone in postgresql"
Descriptions:
- When I want to connect/register table from postresql into dask-sql catalog (which successful register), but when I want to query that data got this error message
`NotImplementedError: The python type datetime64[ns, UTC] is not implemented (yet)` from this function `/dask_sql/mappings.py", line 78, in python_to_sql_type`

Reproduction Step Error:
- `from dask_sql import Context`
- `

[2021-01-03 01:14] raybellwaves commented on #83
Awesome. I see it got merged! When the latest fsspec gets released we can pick this up.

[2021-01-03 08:21] ibnbay99 commented on #99
May be it will be great connect to apache atlas for more connection to others app

[2021-01-03 10:24] nils-braun commented on #102
Hi @ibnbay99!
Thanks for using dask-sql and thanks for the bug report!
I assume your table looks similar to this one (in short):
[code]
At least with this, I can reproduce your problem (one comment: table names in dask-sql should have not "." in them. I should probably mention this in the documentation and in the code - sorry for this).

With the referenced PR I am able to read from this table now

[2021-01-03 10:28] nils-braun commented on #99
That is a very nice feature request!
I think that should already work "out of the box" if you are using python syntax (as intake is able to export dask dataframes, which then can be used in dask-sql after registration as table).
It would be super cool if we can even do this from SQL, e.g.
[code]
or something like this. What do you think?

For Apache Atlas I have not much experience - do you know i

[2021-01-03 11:04] nils-braun opened #104 "Add extended SQL documentation"
With the most recent additions, the SQL statements that dask-sql understands have grown. It might make sense to add a page for every SQL statement instead of having them all on a single documentation page

[2021-01-03 11:53] ibnbay99 commented on #102
For table name I will change '.' into  '__', thanks @nils-braun.

Sorry if my question will out of context:
- If I create table it `must` from dask/pandas dataframe like for `DB SQL` right.
   When I query `not add option cache` `dask-sql` will be create a connection to `DB SQL` or just use `object` dask/pandas dataframe?

[2021-01-03 12:09] ibnbay99 commented on #99
Apache Atlas can connect to python, and `may be` reuse code connect to Hive currently used.

[2021-01-03 18:29] ibnbay99 opened #106 "Question: How to add table from DB SQL like postgresql that data can query live data"
Because from the example in doc, right now `dask-sql` only support:
- dataframe from pandas & dask (data created just for first time)
- hive metastore (get cloud storage & hdfs file metadata and can get update live data)
- cloud storage (can get update live data)

Any possibility right now to create table from `DB SQL` that data can query/get live data?
May be I miss read a doc.

Ty

[2021-01-03 21:52] nils-braun commented on #106
That is a very good question and you nearly summarized the situation correctly. However, for dask dataframes (not for pandas dataframes), there is a small difference: the data is not "created" (or cached) just once, but actually, every time you run a calculation (if you do not persist or cache it on purpose). The reason is, that dask (in contrast to pandas), does not store any "real" data but only

[2021-01-04 10:11] #104 closed

[2021-01-04 12:34] #97 closed

[2021-01-04 13:32] romainr commented on #97
:+1:

Nice new syntax!

[2021-01-06 12:42] #102 closed

[2021-01-06 12:54] nils-braun commented on #99
That would be very great! Could you share a typical workflow with Apache Atlas and the python client? As I said, I do not have much experience with Apache Atlas (sorry..) and for me Atlas is mostly a tool for Audit-safety and compliance (not so much as a metadata catalog by itself).

[2021-01-06 15:51] #96 closed

[2021-01-07 17:51] martindurant commented on #99
[code]

what do you need from Intake to make this happen? I assume we require the named data source to be of "dataframe" type, and will use it by calling `to_dask()`.

[2021-01-07 19:18] nils-braun opened #112 "Bug: SELECT FALSE gives True"
It seems the boolean conversion is broken for some inputs...

[2021-01-07 19:24] nils-braun commented on #99
Without having workes with intake before (but fortunately the docs are good ;-)), I assume all dask-sql would need to do on a call like
[code]
would be
[code]
Is this correct? If this is the case, that would already be everything :-)

[2021-01-07 19:43] martindurant commented on #99
That is correct - although it's possible to optionally allow extra arguments when opening the catalog or accessing the specific dataset.

[2021-01-07 20:01] nils-braun commented on #112
Only for release 0.2.2 - already fixed on main

[2021-01-07 20:01] #112 closed

[2021-01-15 20:41] nils-braun commented on #99
@ibnbay99 - the intake part is included now. Do you have a code sample for Apache Atlas?

[2021-01-27 22:22] sauloal opened #124 "ModuleNotFoundError: No module named 'importlib.metadata'"
ModuleNotFoundError: No module named 'importlib.metadata'

[code]

[code]

[code]

[code]

[2021-01-28 22:19] nils-braun commented on #124
Thanks for the nice bug report with all information! I see why this has gone wrong and I think I know how to fix it. If you want a quick solution, you can also go ahead and try with a newer python (>=3.8).

[2021-01-28 23:44] sauloal commented on #124
Thanks for the information.
Unfortunately, I can't update python easily (WSL) and conda caused me problems before.
I'll wait for the fix.
Thanks!

[2021-01-30 20:45] #124 closed

[2021-01-30 22:06] sauloal opened #127 "TypeError: sequence item 0: expected str instance, NoneType found on running python setup.py java on source"
[code]

[code]

[code]

[code]

[2021-01-31 08:10] nils-braun commented on #127
Thanks again!
To run those commands, you still want to install two additional packages:
* For the tests, it is pytest-cov, which automatically tests for the coverage (can be installed via pip)
* For the Java setup, you need to install mvn (maven). How this is done depends on your setup, but I guess you should be able to just download it (it is not a python package).

Thanks for testing all that ou

[2021-01-31 15:46] sauloal commented on #127
Hello @nils-braun
I would install with pip but the changes for python 3.7 are not in pip yet and I was curious to try.
I'll try installing the requirements.
Regards

[2021-01-31 16:32] nils-braun commented on #127
I am planning to do a patch release soon, might already be in the next days. Hopefully it will be easier after that!

[2021-01-31 17:09] nils-braun commented on #127
Thanks again for still testing even after running against all those blockers. I have added a better error message in the related PR for the error message you have mentioned and some more documentation.

[2021-01-31 19:48] sauloal commented on #127
It got much further but still fails some tests

[code]

[2021-01-31 20:03] sauloal commented on #127
`dask-ml` is also a requirement

[code]

[2021-01-31 20:05] nils-braun commented on #127
Right! Just for your information, I have added `pip install -e ".[dev]"` in the newest version, so you do not need to find out all dev requirements on your own :-)
Are you still running with pandas version 1.1.5? (if you want, can you post your `pip list`?)

[2021-01-31 20:06] nils-braun commented on #127
Ah, you edited your answer in the same moment that I did. Very good! So it seems there is some incompatibility. Could you try with 1.1.5 again if possible?

[2021-01-31 20:08] sauloal commented on #127
just updated:

[code]

despite the error it passed the test with some warnings

[code]

[2021-01-31 20:11] nils-braun commented on #127
The warnings are fine (its deprecations in the pandas <-> dask interface). Thank you so much for testing this all out. I will increase the minimal required pandas version to 1.1.0 (which works, I just tested).
Thanks for testing 1.2.1 - I tested some time ago with 1.2.0 and it failed, but I will repeat the tests.

[2021-01-31 20:11] sauloal commented on #127
Always a pleasure to help and to get a great tool to the toolbox :)
Cheers

[2021-01-31 20:12] sauloal commented on #127
Interesting enough:

[code]

[2021-02-02 01:36] raybellwaves commented on #46
PR in progress https://github.com/dask/dask/pull/7129

[2021-02-02 21:29] nils-braun commented on #127
I have added a PR in #129 that fixes the tests for pandas 1.0 and 1.1. Now the requirement is actually only >=1.0 and <1.2 (the latter we still need, due to https://github.com/dask/dask/issues/7156)

[2021-02-05 19:34] nils-braun opened #130 "Improve ML implementation"
The ML implementation is still a bit experimental - we can improve on this:
- [x] `SHOW MODELS` and `DESCRIBE MODEL`
- [x] Hyperparameter optimizations, AutoML-like behaviour
- [x] @romainr brought up the idea of exporting models (#191, still missing: onnx - see discussion in the PR by @rajagurunath)
- [ ] and some more showcases and examples

[2021-02-05 19:35] nils-braun opened #131 "Improve hue autocompletion"
Apache Hue has an integration for dask-sql, where the commands are autocompleted and hightlighted. Currently, this is out of sync due to the recently added new SQL features (e.g. CREATE MODEL).

[2021-02-06 03:07] ckmganesh commented on #130
Hey @nils-braun
Can you give some more explanation regarding what to do?

[2021-02-06 07:19] nils-braun commented on #130
Definitely! Which of the point are you most interested in?

[2021-02-06 08:06] ckmganesh commented on #130
Show and describe models

[2021-02-06 10:48] nils-braun commented on #130
Ok!
The method SHOW MODELS should give back a list of all registered models. It can be quite similar to the SHOW TABLES function and just give the names.
The method DESCRIBE MODEL <NAME> should list some parameters of the model. Might be ok to just give back the string representation of the Python model which typically already has the parameters listed or do some more advanced things, both would b

[2021-02-06 12:15] ckmganesh commented on #130
Thanks for the explanation
It could take some time for me to go through the code and implement this. I'll try my best to do this.
Thanks

[2021-02-06 16:56] ckmganesh commented on #130
![image](https://user-images.githubusercontent.com/69971780/107124513-5abdc200-68ca-11eb-9f13-21bc0b911eff.png)

[2021-02-06 21:36] nils-braun commented on #130
Thanks for asking!
Two comments to your code:
1. You probably want to do this anyway, but you need to rename the class to something like `SqlShowModels`
2. You do not need the `schemaName` (actually would be good to not have it at all). So it would be easier if you derive from `SqlCall` (have a look into `SqlShowSchemas`). You might need to add
[code]

Could you try to re-formulate a question on t

[2021-02-06 22:40] nils-braun commented on #130
By the way, you question is really not silly - the documentation in this is really sparse right now (help is welcome!)

[2021-02-07 02:34] ckmganesh commented on #130
Yeah thanks I just forgot to change the class name. Can I know why we use SQL operator here rather in the case of show tables we just use schemas

The thing about query is that what does the left prec and right prec do in each case, because only if I understand that I would be able to do the describe part

For example for a query like this
CREATE TABLE Persons (
    PersonID int,
    LastName varc

[2021-02-07 10:45] nils-braun commented on #130
Just as a side note, I have pushed some more documentation in https://github.com/nils-braun/dask-sql/pull/132 - maybe that also helps a bit. Maybe you want to have a look there before getting back to my answers (once it is merged, this will also be shown on the main documentation page).

In general, during parsing, Apache Calcite will generate SqlNode objects out of different parts of the SQL stat

[2021-02-07 14:20] nils-braun commented on #106
As I did not hear back from you, I assume the question is solved.

[2021-02-07 14:20] #106 closed

[2021-02-07 14:21] nils-braun commented on #13
Closing this issue now, as we have already integrations included and for the specific new types of integration, be better create a new issue (e.g. like #83)

[2021-02-07 14:21] #13 closed

[2021-02-07 14:27] nils-braun commented on #12
Some information on how to tackle such a task:
1. Make sure to understand what the class does. This can be done by looking up the definition in the Apache Calcite source doe.
2. Build a SQL statement use case for it and debug it in the dask-sql command line tool, with debug turned on. This will give you the full generated algebra and where exactly you still need to implement something.
3. Add a ne

[2021-02-07 16:36] ckmganesh commented on #130
Thank you so much @nils-braun
This is a perfect explanation, exactly what I wanted to know.
I'll try to work on the solution and let you know as soon I can.
Again, Thanks for taking the time to explain this. This is very much helpful :)

[2021-02-16 17:51] beckermr opened #138 "add support for ADQL extensions"
This might be interesting for astronomy users.

https://www.ivoa.net/documents/ADQL/20180112/PR-ADQL-2.1-20180112.html

[2021-02-16 17:52] beckermr commented on #138
To be clear, this one is a lot of work and I am not asking anyone else to do this!

[2021-02-17 16:59] nils-braun commented on #138
That looks definitely super cool! I would be very interested in seeing this happen!
As I am not so much used to ADQL: if I see it correctly, what is missing are the "geometry" functions - but the general logic of `SELECT` statements is similar enough to normal SQL, correct?

[2021-02-17 17:02] beckermr commented on #138
That is my understanding as well, but I am also not a user of ADQL.

I agree that the geometry and other special functions are the main target here.

[2021-02-17 17:22] beckermr opened #139 "benchmarks?"
I know they are mostly useless, but they still might add some value. Have any been done?

[2021-02-21 08:56] nils-braun commented on #139
A good question nevertheless!
So far not from my side. There are some [benchmarks](https://blog.blazingdb.com/data-lake-to-ai-blazingsql-rapids-initial-benchmark-aa753031ac8b) on blazingSQL if you are interested, but none from dask-sql (that I am aware of).
What would you be interested in?
* dask-sql vs. dask?
* scaling behaviour with #workers and data size?
* dask-sql vs. blazingSQL vs. presto vs

[2021-02-22 18:35] beckermr commented on #139
Yes, this is what I had in mind. I'd exclude anything that uses a GPU and focus on comparable tools/ideas like spark, presto, and impala.

There is always this set of benchmarks: https://amplab.cs.berkeley.edu/benchmark/

However, they exclude using file formats like parquet. Versions with parquet might be good?

[2021-02-23 10:56] LaurentEsingle opened #141 "Error: Unable to instantiate java compiler"
Hi! @nils-braun,

As you already know I mistakenly opened this issue on Dask-Docker repo and you were kindly alerted by @jrbourbeau

I will copy/paste my original post here as well as your initial answer (Thank you for your quick reply)

Here is my original post:

####################################################################

**What happened**:

After installing Java and dask-sql using pip,

[2021-02-23 10:57] LaurentEsingle commented on #141
Here is your initial answsr:

####################################################################

[2021-02-23 14:25] LaurentEsingle commented on #141
Regarding the other options:
  - Use Conda: It is not advisable for me to do so as I use PIP for everything and throwing Conda in the mix after setting up the environment with PIP might not be such a good idea.
  - Dask-Sql container: my setup does not allow me to use an additional container for that purpose. The application already runs on a container and I want Dask-SQL feature to be seamlessly

[2021-02-25 22:03] nils-braun commented on #141
Hi @LaurentEsingle - that is really strange. All the output you send me looks quite reasonable (the fact that `user.dir` is different is fine - or are there any other files in your `/resources/vQuery/files` folder?). I am a bit out of ideas here :-/ Did you have a chance to check without Voila?

Is there a possibility that I can have a look into your code and do some tests by myself?

[2021-02-25 22:39] beckermr opened #143 "compile dataframe ops w/ numba"
I wonder if this is useful: https://github.com/IntelPython/sdc

[2021-02-26 20:46] nils-braun commented on #143
Definitely interesting! Maybe even worth to mention in the upstream Dask repository. I have seen some combination of "normal" numba with Dask - would be interesting to understand if this library brings even more gains.
Do you have experience using it?

[2021-02-26 20:49] beckermr commented on #143
No I do not. :(

[2021-02-27 06:52] dwy904 commented on #43
any update on this one?

[2021-02-27 15:54] LaurentEsingle commented on #141
Hi @nils-braun ,

I found the issue in my code thanks to your mention of  ```Thread.currentThread().getContextClassLoader()``` in your last comment.

It turns out it is a threading issue.

My calls to Dask (and Dask-Sql) are done in a new thread. The problem is solved when making the calls without spawning a new thread.

That said it is not ideal for me as I do not want to block the UI and cannot

[2021-02-27 16:31] nils-braun commented on #141
Thanks for the update!
That is quite interesting information, thanks for digging so deep! I never tried with a thread so far.

Well, I think we (or you) have the problem but so far there is no solution to make it work for you.

To not block the UI makes a lot of sense! Have you thought about using a "single-machine distributed scheduler"? The setup is as easy as just using a local scheduler (see e

[2021-02-27 20:08] nils-braun commented on #43
Not so far from my side, unfortunately. Thanks to @beckernick for providing some code here! Just out of curiosity: is there a reason you choose `shuffle` and not just a "usual" groupby-apply (I am fine with both)

I have however still some difficulties in implementing this: imagine we have a SQL query like this:
[code]
In this case I would need to partition by a for the `row_a` column and by b for

[2021-02-27 20:16] nils-braun commented on #46
Thanks @raybellwaves for going forward here!

[2021-02-27 20:16] #46 closed

[2021-02-27 20:19] nils-braun opened #144 "Make databricks/hive/... interaction possible via SQL"
Currently, many data sources can be accessed via the usual `context.create_table` methods, but not so many via the `CREATE TABLE` SQL call, as there is e.g. no possibility to create a `sqlalchemy` cursor via SQL commands.
That should be changed, e.g. when the user passes a known `sqlalchemy` connection string to the `CREATE TABLE` call we can directly use it to create the table.

[2021-02-27 20:20] nils-braun commented on #83
The PR is included and the issue should therefore be fixed for now. If you are facing any problems, please re-open!

Related: #144

[2021-02-27 20:20] #83 closed

[2021-02-27 21:50] #144 closed

[2021-03-01 12:37] LaurentEsingle commented on #141
@nils-braun

Indeed the next logical step for me should be to try the "single-machine distributed scheduler" to enable Dask Futures as you suggested.

Unfortunately I still get the "Unable to instantiate java compiler" error when using Futures.

The reason I think is because behind the scenes Futures use ```ThreadPoolExecutor, ProcessPoolExecutor```, etc. from python ```concurrent.futures library`

[2021-03-02 20:56] nils-braun commented on #141
Maybe I misunderstood your use case then. Let me try to write what I understood and you can tell me, how wrong I was :-)
(but also see below for a possible solution without the futures using the SQL server and even more below with using your original proposal)

I imagine you have some sort of "frontend"/UI, where users can click a button or create some other type of input. In your original idea (w

[2021-03-04 19:37] LaurentEsingle commented on #141
@nils-braun

THANK YOU!

It works.

I was worried at firs about the overhead of importing dask-sql/spawning the JVM, setting the context and computing the results in a new thread each time a query is issued.

It turns out the overhead is minimal and not significant in my particular scenario (I am not expecting hundreds of users to connect to the application).

From a cold start (no previous querie

[2021-03-04 19:37] #141 closed

[2021-03-10 21:13] timhdesilva commented on #82
Hi! I'm having a similar problem. Is there anything I can do to fix it? Thanks!

Python 3.7.4 (default, Aug  9 2019, 18:34:13) [MSC v.1915 64 bit (AMD64)]
Type "copyright", "credits" or "license" for more information.

IPython 7.8.0 -- An enhanced Interactive Python.

C:\Users\tdesilva\AppData\Local\Continuum\anaconda3\lib\site-packages\dask_sql\java.py:40: UserWarning: You are running in a conda

[2021-03-11 07:35] nils-braun commented on #82
Hi @timhdesilva! Thanks for your issue.

In principle, this is just a warning (no exception), so the question would be: is dask-sql still working for you?

How did you install dask-sql? Via conda or via pip? ANd do you manually set your JAVA_PATH variable or did you never touch this one?

If you are using conda, dask-sql assumes that you also installed dask-sql via conda. In this case it is very u

[2021-03-12 13:49] timhdesilva commented on #82
Thanks for the response! Dask-sql is working for me, so maybe I should not mess with anything haha. I installed via conda and have never touched the JAVA_PATH variable.

There's actually one other thing I'm having an issue with, and I haven't been able to find a solution online. So I have a large dataset (50GB) that needs to be merged with a small dataset that is a Pandas dataframe. Prior to the m

[2021-03-13 13:07] nils-braun opened #148 "Complex join fails with memory error"
From @timhdesilva

[2021-03-13 13:07] nils-braun commented on #82
Thanks for this very interesting issue!
For easier separation, I created a new issue here: https://github.com/nils-braun/dask-sql/issues/148

[2021-03-13 13:32] nils-braun commented on #148
That is a perfectly valid use-case and that is exactly what I am looking for to test out the limits of the current implementation! Thanks for this - that is definitely something we can debug together :-)

Some background: complex joins are definitely hard, as we basically need to join everything with everything to test out the join condition (there might be some shortcuts on "<" and ">" but the op

[2021-03-13 17:15] quasiben commented on #148
A broadcast merge might be helpful here:
https://github.com/dask/dask/pull/7143

On Sat, Mar 13, 2021, 8:33 AM Nils Braun ***@***.***> wrote:

[2021-03-13 19:43] timhdesilva commented on #148
@nils-braun: I think that solution sounds promising - happy to give it a test once it's done!

[2021-03-13 22:29] nils-braun commented on #148
Thanks, @quasiben for the hint! Very interesting read. I chose a quite similar technique here (basically also the PR introduces a nested loop over both partitions and combines every with every). There are unfortunately some differences between the left/right/inner join from the PR and the cross join we need here, so I can not re-use the exact same code:
* the PR produces max(N, N) partitions by co

[2021-03-16 18:04] timhdesilva commented on #148
@nils-braun, thanks for the response! In order to try your update, what's the best way to update dask-sql? I installed the package using conda, so not sure what the best way is to get the updated version on my local machine. Thanks (sorry I'm a GitHub beginner)!

[2021-03-17 21:16] nils-braun commented on #148
Great question! You can follow the instructions from the [docu](https://dask-sql.readthedocs.io/en/latest/pages/installation.html#for-development) if you want. The only thing you need to change:
* After cloning the repository with git (or any GUI tool if you want), check out the correct branch (feature/cross-joins-on-large-data in this case)
* You do not need to install the precommit hook (as you

[2021-03-26 16:12] randerzander opened #151 "Can't start server w/ existing dask cluster"
Following the ["Run it in your own `dask` cluster" doc](https://dask-sql.readthedocs.io/en/latest/pages/server.html#run-it-in-your-own-dask-cluster):
[code]

Seems like `run_server` seems to try starting a Dask cluster even if I supply an existing client.
[code]

[2021-03-26 17:46] nils-braun commented on #151
Thanks for the issue and thanks for trying it out!
Are you running this from a jupyter notebook? I think the server here is actually not the Dask server, but the jupyter event loop (also implemented async as the uvicorn server) which do not work together well.
Maybe (if you are using it from a jupyter notebook), what is you usecase? I would be super happy to understand, because so far you typicall

[2021-03-27 02:42] randerzander commented on #151
Indeed, I am running from Jupyter and all I needed was a `Context`! Next time I'll read the docs more carefully.

Awesome project, by the way =)

[2021-03-27 02:42] #151 closed

[2021-03-29 19:27] nils-braun commented on #148
Hi @timhdesilva - did you have a chance to look into the issue? No pressure; just did not want to be the one you are waiting for :-)

[2021-03-29 19:42] nils-braun commented on #8
The WITHIN GROUP is only valid for DENSE_RANK and RANK (and some others), which are all not implemented in postgreSQL, which we use as a standard.

[2021-03-29 19:42] #8 closed

[2021-03-31 00:33] randerzander opened #155 "Testing w/ dask-cudf"
Hello,

I'm experimenting with dask-sql using [GPU DataFrames](https://github.com/rapidsai/cudf) instead of Pandas DataFrames.

Some basic functionality works, but there seem to be type discrepancies for floating point math. It's likely that this is a cudf/pandas or cudf/dask compatibility problem, but I'm opening here for initial discussion.

cc @quasiben

[code]

[code]

[2021-03-31 00:45] randerzander opened #156 "Consider adding plugin for GPU DataFrames"
Related to #155

[code]

Trace:
[code]

It may not be necessary to add a dedicated plugin for cudf, rather you might be able to pass them along to the existing Dask DataFrame constructors:
[code]

[2021-03-31 16:59] kkraus14 commented on #155
This is a bug on cudf's side in not handling Pandas extension types. We can address this.

[2021-03-31 20:10] nils-braun commented on #155
Very interesting and thanks for trying it out!
And also thanks to @kkraus14 for jumping in (I think also dask has seen similar problems in the past https://github.com/dask/dask/issues/7156).

Maybe now to your question behind all that: can/will dask-sql support dask-cudf :-)
I have two concerns here, one is more technical and one more general.
Technical, there are currently many references to "pan

[2021-04-06 02:38] timhdesilva commented on #148
Hi Nils,

Unfortunately haven’t gotten around to it yet - I came up with a slower solution but that works. I’m hoping to have some time to try it out later this week, but I’m unsure - do keep me updated if you make any further updates!

________________________________
From: Nils Braun ***@***.***>
Sent: Monday, March 29, 2021 3:27:35 PM
To: nils-braun/dask-sql ***@***.***>
Cc: timhdesilva ***@***

[2021-04-06 18:17] nils-braun commented on #148
Ok, then I will merge the PR with my fix. At least in my tests it worked and did also not run into the memory error.
Feel free to pick it up later of you want!

[2021-04-06 19:58] nils-braun commented on #43
Hi @dwy904, @beckernick!
It took some time, but I finally managed to add a first implementation of windowing in dask-sql in the PR #157
It might not be optimal already, but at least it works in my tests. If you want, feel free to have a look and test it.
I have started with only a few functions, more (e.g. lag and rank) can be added (if you would like to do a PR, that would be really cool! I am ve

[2021-04-12 16:48] randerzander commented on #155
Thanks for the response, Nils.

I had seen tweets about this project and was merely experimenting. I use BlazingSQL frequently, and was interested in performance and supported SQL syntax differences.

[2021-04-16 20:49] randerzander opened #158 "Can't import in Google Colab"
Google Colab depends on an older version of prompt-toolkit, breaking dask-sql imports.
[code]
Trace:
[code]

Looking at the dask-sql code, `PromptSession` is only ever used in `cmd.py`. If I understand correctly, that's only used as part of the dask-sql command line repl. It may make sense to separate that into its own pip module.

Workaround:
[code]

After the above, you can import dask_sql modul

[2021-04-17 07:30] nils-braun commented on #158
Good catch and thanks for providing already a workaround. And yes, you are completely right: it is only needed for the command line interface.
I will check if I might just fix the version dependency. If not, also a lazy import might help.

[2021-04-17 10:00] nils-braun commented on #158
I added a fix in #159 which should make it compatible with older and newer versions of prompt_toolkit. If you want, you can test it following the instructions in the PR :-)

I still like your idea of keeping the CLI separate, but so far I am not 100% sure how it might be implemented best (a really separate package? only as an extra installable?).
The PR should at least fix the error and we can com

[2021-05-01 14:51] nils-braun opened #163 "OVER Aggregate functions get replace by Calcite"
When writing SQL queries such as `SELECT SUM(a) OVER(...)` or `SELECT AVG(x) OVER(...)`, Apache Calcute automatically replaces the aggregation functions with "more basic" ones, like avg -> sum / count and sum -> case(count > 0, $sum0, NULL).

That makes sense in most of the cases, but Dask can handle avg, sum etc. quite well (and actually the Calcute implementation is even slower). Therefore I wou

[2021-05-09 14:22] adityakumar1990 opened #168 "dask-sql escape character"
column name in ("hello's world") is throwing error . what is the escape character in dask-sql??

[2021-05-13 15:36] nils-braun commented on #148
I am closing this issue for now. If the problem comes up again, feel free to ping me or re-open

[2021-05-13 15:36] #148 closed

[2021-05-13 16:08] nils-braun commented on #127
The upper pandas version requirement is gone now - the problem in dask is fixed.

[2021-05-13 16:08] #127 closed

[2021-05-13 16:11] nils-braun commented on #43
Here is the list of window operations and their implementation status:

- [x] COUNT
- [x] AVG
- [x] SUM
- [x] MAX
- [x] MIN
- [ ] RANK
- [ ] DENSE_RANK
- [x] ROW_NUMBER
- [x] FIRST_VALUE
- [x] LAST_VALUE
- [ ] LEAD
- [ ] LAG
- [ ] NTH_VALUE
- [ ] NTILE

[2021-05-14 09:27] mschroederi opened #175 "ValueError: invalid literal for int() with base 10: 'Sarg[(0..1)]'"
I'm experiencing issues when using `CASE` and checking whether a value is in a given range. The issue seems to occur when using `BETWEEN` as well as a manual range select.
In any case the execution fails with `ValueError: invalid literal for int() with base 10: 'Sarg[(0..1)]'`.
You can reproduce the error when using the code snippet below. Thanks!

[code]

**Execution Environment**
Python 3.8.10
d

[2021-05-14 16:01] nils-braun commented on #175
Thanks for the bug report @mschroederi and the very nice reproducible code!

The problem arises as `Calcite` (which is the SQL parser in dask-sql), transforms this SQL into
[code]
and both the `SEARCH` as well as its argument `Sarg[(0..1)` are not implemented in dask-sql (yet). Unfortunately, the exception is not very good - because unfortunately, it fails "at the wrong place"... (we should also f

[2021-05-18 16:58] gallamine opened #179 "Dask-SQL not wrapping partition value in quotes"
Hello, I am querying a Hive table that is partitioned using string values that look like a date -`YYYY-MM-DD`. My `create_table` command fails with a `HiveSQLException` because the `-` isn't being escaped.
For example:

[code]

this should instead read `partition_col="2019-01-21"`.

I am using `dask-sql==0.3.6`

[2021-05-18 18:56] nils-braun commented on #179
Thanks for the bug report @gallamine - that definitely is a bug.
I think all that we would need to fix is [this SQL string](https://github.com/nils-braun/dask-sql/blob/main/dask_sql/input_utils/hive.py#L177) to also include proper escaping.
Would you like to do a PR, as you have already the Hive data available for testing?
You can follow the description [here](https://dask-sql.readthedocs.io/en/la

[2021-05-18 20:00] gallamine commented on #179
@nils-braun I'm interested. Trying to think of an elegant way of knowing whether the partition value should be enclosed in quotations or not. Is there a good way you know of for determining what the type of `partition_col` is?

[2021-05-19 20:22] gallamine opened #181 "Error trying to convert Parquet `date` into Pandas datatype"
When the Parquet file contains a `date` type dask_sql will try and convert the corresponding Pandas dataframe column into a `date` type that Pandas doesn't recognize. The issue seems to arise in https://github.com/nils-braun/dask-sql/blob/main/dask_sql/mappings.py#L273. Example:

[code]

results in ```TypeError: data type 'date' not understood```.
This is *after* PyArrow has decided that the Parqu

[2021-05-20 05:45] nils-braun commented on #181
Hi @gallamine!
Thanks again for your bug report and I am sorry that it seems you need to iron out all the shortcomings :-( Thank you that you keep trying and report those back!

I can reproduce the error message in your code (in the newest version of `dask-sql` the function call is a bit different, but that does not change anything), but I am wondering why we actually end up with this function cal

[2021-05-20 09:00] nils-braun opened #182 "Parquet Project Pushdown"
Dask already implements the logic, to only extract columns from a parquet files which are actually needed - reducing the amount of IO.
We should make sure this feature is correctly used in `dask-sql`. We first need a test for it and will then need to iterate on it.

[2021-05-20 13:31] nils-braun commented on #168
Hi @adityakumar1990! I hope the answer above helped. I will close this issue now, but that does not mean you can not ask more questions! Feel free to ping me or re-open this issue.

[2021-05-20 13:31] #168 closed

[2021-05-20 13:55] nils-braun opened #183 "Optimization: Go from general logical plans to dask-specific plans?"
This question is both a feature proposal and a question.

Currently, the process from a SQL (string) to a calculated dataframe is as follows:
1. Use Calcite for SQL parsing and non-optional relational algebra creation
2. Optimize with Calcite using rule-based optimizations resulting into a plan of `Logical*`. Those relational plans are quite generic, do not know anything about dask, distributed pr

[2021-05-24 06:36] rajagurunath commented on #130
Hi @nils-braun  and @ckmganesh  , Thanks for in detailed discussion really helped me understand the functionality.

I have tried **SHOW MODELS AND DESCRIBE MODEL** , and able to achieve the functionality, but not sure if everything is in correct place and adhere to best practice. can you please review these forked repository/ commit (shared below) and guide me the path to open a PR .(since This is

[2021-05-24 15:31] nils-braun commented on #130
Hi @rajagurunath.
First of all let me thank you for taking the challenge and doing your first code contribution to an open-source project. Welcome, I hope many more will follow!

I had a look into the code. It is really well done and everything is at its right place. I might have some detailed comments here and there, but they are easier to give once you have created you first PR. Which brings me

[2021-05-24 16:17] rajagurunath commented on #130
Thanks a lot @nils-braun
I have created a pull request here : https://github.com/nils-braun/dask-sql/pull/185

I am very much interested  to understand the framework in more detail and contribute some meaningful work.

And I must say , I enjoyed my weekend working for this functionality, the developer workflow was straight forward , Developer just need to add their logic, and rest all of build and

[2021-05-24 20:10] gallamine commented on #181
I'm testing your suggested fix now. I was OOO the past few days and (sadly) not attending the Dask Summit

[2021-05-25 19:14] nils-braun commented on #183
I am actively looking for people with Calcite (or any similar project) experience :-)

[2021-05-25 21:38] #175 closed

[2021-05-25 23:36] timhdesilva opened #186 "Issue with create_table()"
I'm running the following code:

[code]

Upon running ``c.create_table()``, a large process begins in my local client, which takes a few minutes. This is problematic because what I really want to do is a long sequence of pandas operations between reading in the csv and actually using ``create_table()`` for an SQL-like merge. Thus, when I have these operations in between, ``create_table()`` acts as

[2021-05-26 05:21] nils-braun commented on #186
Hi @timhdesilva!
Thanks for your question!
`create_table` will automatically persist (cache) the dataframe for faster access. That means it will start to compute everything (which is not the same as calling `compute`, as it will be loaded into the memory of the workers, but if you are using a local cluster as you have shown in your code, that is the same main memory).
You can turn it off using the

[2021-05-26 12:21] timhdesilva commented on #186
Hi @nils-braun, thanks for the response!

If I use ``c.create_table()`` as above, following a few pandas dataframe calculations between reading the csv and calling it, my workers hit their memory limit as this executes. Does this mean I need to I need to find a way to reduce my data further, or will simply setting ``persist=False`` fix this? Also, how do I set ``persist=False``?  I don't see why I

[2021-05-26 19:28] nils-braun commented on #186
Hi @timhdesilva - multiple things play a role here and I am happy to give as much insights as I can - although I am also not able to list all of the factors:
* when you say "pandas dataframe calculations" I guess you referring to pandas-style dask calculations (like `df.groupby` or `df.sum` etc)? If this is the case, dask will build up a computation graph instead of doing the calculation. The calc

[2021-05-26 23:10] timhdesilva commented on #186
Thanks for the helpful response @nils-braun.

Most of the computations I run are trivial data cleaning tasks (renaming and creating variables), but the key computation is a ``.groupby().sum()`` operation that substantially reduces the size of the dataset. Immediately following this calculation is when I would like to then use ``.create_table()`` in order to perform an SQL like merge with a very sm

[2021-05-27 22:35] timhdesilva opened #187 "Issue with Range Joins"
Hi @nils-braun, sorry for asking you another question, but I appreciate all your help!

So with ``dask-sql'', I have no problem running the following code:
[code]
However, when replacing the last ``c.sql()`` command with the following command, my workers hit their memory limit.
[code]
I suspect something is going wrong here with the range join - in principle, these two commands should give the sam

[2021-05-28 21:39] nils-braun commented on #187
Hi @timhdesilva
The way joins are implemented in dask-sql is as follows:
* use everything with a "=" sign (an Equijoin) and merge those together. This can be done more or less "optimal", with a hasb join.
* then, filter on the remaining conditions, which is not so optimal as a lot of data might need to process.

This means, that in your first example, a large fraction of the join condition can be

[2021-05-28 21:44] nils-braun commented on #186
Yes, it will. Partitions are the only possibility for dask to parallelize. Dask is "smart" enough to see, that memory is already occupied and can spill the data partition-wise to disk (and load it from there later again). However, if you only have a single partition, dask can either use all the data or none - and there is no possibility for dask to store some of it temporarily on disk (to give roo

[2021-05-30 18:15] rajagurunath commented on #130
Hi @nils-braun @romainr

Currently I am working on `EXPORT MODELS` functionality and having following doubts (since there are lot of possibilities to implement this functionality)

initial sql syntax , `EXPORT MODEL <model_name> INTO filename.pkl`

current sql syntax, `EXPORT MODEL <model_name> WITH (model_serde = pickle|joblib|mlflow|onxx, location = "filename.pkl")` let me know if this SQL synta

[2021-06-04 07:35] rajagurunath commented on #9
Hi @nils-braun, I tried implementing some functions from the above list like,

REGR_COUNT :  
                         count(when(x,y) is not null)
                         
REGR_SXX :
                          REGR_SXX(y,x) = REGR_COUNT(y, x) * VAR_POP(x)
 
 REGR_SYY:
                           REGR_SYY(y,x) = REGR_COUNT(y, x) * VAR_POP(y)
                           
  REGR_SXY :                

[2021-06-04 13:38] nils-braun commented on #130
Hi @rajagurunath
sorry for the late response. Thank you very much for your hard work and your thoughts on this!

You are raising very valid questions here. I think the best thing would be to start with a small subset of capabilities. Serialisation into pickle and joblib are already very good. mlflow is a very nice addition, but if we can not make it work, I would propose to move this to a second P

[2021-06-04 14:15] nils-braun commented on #9
Hi @rajagurunath
Thanks for looking into it. I really enjoy your comments and I am glad you are reading through more parts of the code. I would be happy to get your thoughts (independent on this particular issue) if you spot something interesting.

Now to your issue: currently, I am using Dask's `groupy().agg()` functionality to calculate the aggregations. `agg` however can only have a single inpu

[2021-06-04 23:23] timhdesilva commented on #186
Hi @nils-braun! I was able to make this work by using setting ``split_out = 50`` in ``.groupby().sum()``! Thanks very much for the help!

[2021-06-04 23:23] #186 closed

[2021-06-04 23:28] timhdesilva commented on #187
Thanks for the response! This makes sense. On your questions, the ``id_tickers`` dataframe is small - its around 60K columns with 3 rows. It is stored as a dask dataframe with ``npartitions=2``. The ``byexp`` dask dataframe is large: it has ``npartitions=45`` and 32405 tasks according to dask when I print it to the console before using ``create_table('byexp', byexp)``.

In terms of your solution s

[2021-06-05 05:31] nils-braun commented on #186
Great! That is good to hear.
Thanks for reaching out!

[2021-06-06 07:39] nils-braun commented on #187
If you can rewrite your query to only have equi-joins (without any non-= sign), that would certainly help. Or if you could at least rewrite it so that the intermediate data frame after the equi-joins (before applying the remaining join condition) is small.

Side-Note, if you are interested: One thing to keep in mind though, is how dask (not particularly Dask-SQL) is doing joins. If I am not mistak

[2021-06-07 12:14] NI1993 opened #188 "Integrate with Google BigQuery to support large query results"
I'm working in a project which involves with querying a Google Bigquery server.

Depending on the sql and the data it's being ran on the output result (table) may be too large to fit in memory.

It would be very nice feature to use dask-sql to query over a Bigquery server, and get the resulted table as a dask data frame.

I've managed to think of a workaround to fit a very large sql result in a da

[2021-06-07 12:22] Orisbaum commented on #188
GREAT IDEA!

[2021-06-09 00:06] flcong opened #189 "ParsingException encountered when DataFrame contains variable name `'date'`"
Code:
[code]
where `df1` is as follows:
[code]
and `df2` is as follows:
[code]

Then, the following code raises ParsingException:
[code]
Output:
[code]
Later, I find out that the problem is the variable name `'date'` in `df1`. If I change it to others (e.g. `dated`), the problem disappear.

[2021-06-09 00:22] flcong opened #190 "Full Join becomes Inner Join for inequality conditions"
Code:
[code]
Results:
* `df1`:
[code]
* `df2`:
[code]
* `df3`:
[code]
This is an Inner Join, not Left Join.

The correct output should be as follows, using sqlite3:
[code]
where `df3` is
[code]

[2021-06-09 05:27] nils-braun commented on #189
Hi @flcong
Thanks for the big report and the nice reproducible example. The problem is, that `date` is a SQL keyword. Therefore you need to add quotes to it to make SQL understand it as a column - at least in the SQL dialect used by Dask-SQL. You can check out [the documentation](https://dask-sql.readthedocs.io/en/latest/pages/sql.html#general) on quotes, which has accidentally even `date` as an e

[2021-06-09 05:32] nils-braun commented on #190
Hi @flcong
again thanks for the report and the nice reproducible example. This is clearly a bug. The way Dask-SQL currently handles non-equi joins is to do a cross-join (every row with every row) and then apply the filter. During this process, we turn every join to an inner join - which is wrong.
Would you like to help solving the problem? I would be very happy for your help. I can give you some g

[2021-06-09 09:23] nils-braun commented on #188
Hi @NI1993 - interesting!
Thanks for bringing this up.
So just to understand you correctly: you would like to run the SQL on big query and end up with a dask dataframe, correct?

Dask-SQL helps you with perfoming SQL statements on already present dask dataframes, so getting data from Big query would be somehow a step before that (and for Dask-SQL or would not be different from reading from e.g. fi

[2021-06-09 13:26] flcong commented on #189
Thank you! I come from SAS SQL, so I am not aware of this issue.

[2021-06-09 13:26] #189 closed

[2021-06-09 13:49] flcong commented on #190
Yeah. I can take a look tomorrow. It would be helpful to have some guidance for developers.

[2021-06-09 16:28] nils-braun commented on #190
Super cool! Here are some first pointers (but of course, feel free to ask for more information):
1. I would recommend to install dask-sql in [development mode](https://dask-sql.readthedocs.io/en/latest/pages/installation.html#for-development), build the JAR and run the tests once
2. The code you are interested is in `join.py`, especially the second `else` case [here](https://github.com/nils-braun/

[2021-06-09 16:48] flcong commented on #190
Thank you for the information. I'll look into it.

I'm very glad about this project. Previously, I wrote a small function to add pandas DataFrames to sqlite3 server and then run queries using sqlite3, but it turns out to be very slow for large data sets. With the development of this project, maybe some day I will finally give up SAS completely.

[2021-06-09 16:55] nils-braun commented on #190
I am glad it helps you :-)

[2021-06-10 15:21] rajagurunath commented on #130
Hi @nils-braun ,

Thanks for your guidance/inputs. Sorry I was little bit occupied last week.

As you suggested, We can divide it into two PRs may be ,
    PR 1. Introduces Export MODELs using pickle, joblib,mlflow
    PR 2. We can implement Loading the saved model, improve the mlflow model serilization, implementing ONNX format (may be)

And regarding the doubt, Actually exporting model into  mlf

[2021-06-10 15:32] flcong commented on #190
Hi. I followed the steps to install dask-sql in development mode, including installation of JDK and maven and compiled Java classes.

I encountered a series of `Windows fatal exception: access violation` while running pytest on `test_join.py`. The test is passed, but a lot of errors are thrown. It seems irrelevant to fixing the bug for joins, right? Thank you.
[code]

[2021-06-10 19:53] nils-braun commented on #130
Hi @rajagurunath - the message does not prevent you from opening a PR, but it will prevent you (or me) from merging it.
To get rid of it, you need to merge the current main branch from the main repository into your branch, fix any occuring merge conflicts and the push again.

[2021-06-11 05:31] rajagurunath commented on #130
Sure thanks for the input @nils-braun

Merged and resolved the conflicts, Have raised the PR here https://github.com/nils-braun/dask-sql/pull/191
Please review and let me know if any changes are needed.

Thanks

[2021-06-11 10:09] rajagurunath commented on #9
Hi @nils-braun ,

Thanks a lot for the in detailed explanation of the solution.

I followed similar steps, developed this functionalities here:  https://github.com/rajagurunath/dask-sql/tree/feature/regr_count
This solution worked and cross checked with results from Postgres SQL for all the functions.

And yes, I am also not sure about the calcite plan of sql nodes, even it  produces slightly diff

[2021-06-17 19:09] rajagurunath commented on #9
Hi @nils-braun,

Created a pull request for REGR_COUNT functionality here: https://github.com/nils-braun/dask-sql/pull/193

Please review and let me know if any changes needed.

Thanks

[2021-06-21 19:55] nils-braun commented on #130
@rajagurunath - looking at the new tests for mlflow and model export, I am wondering if we should maybe use the `xgboost.dask.DaskXGBClassifier` instead of the normal one (as mentioned [here](https://xgboost.readthedocs.io/en/latest/tutorials/dask.html#scikit-learn-interface)) in the test. What do you think?

[2021-06-22 11:04] rajagurunath commented on #130
Hi @nils-braun,

Seems like a good idea, I tried using `xgboost.dask.DaskXGBClassifier` following the documentation mentioned above, but the problem is we need to specify /provide `dask.distributed.Client` for the DaskXGBClassifier model to distribute the work across Dask workers.

I attempted something in `create_model.py` with the following code
[code]
which creates the client based on user-prov

[2021-06-24 07:57] timhdesilva opened #196 "Issue Importing Dask-Sql"
Hi,

I just purchased a new computer (making the switch from WIndows to Mac) and am looking to use dask-sql as I do on Windows. I first installed ``dask`` with ``python3 -m pip install "dask"`` in my terminal, and then installed ``dask-sql`` with ``python3 -m pip install "dask-sql"``. The problem is that when I try to run:
```from dask_sql import Context()```
I get the following error
[code]

[2021-06-25 06:44] nils-braun commented on #196
Hi @timhdesilva !
Thanks for your report! Unfortunately I can not reproduce myself (I do not own a Mac...),   but is this only a problem with dask-sql or also with dask alone? Could you try to run a `from dask.distributed import Client`? It might just be some incompatible versions of dask and distributed (I currently assume it is unrelated to dask-sql).

Can you also print the output of `pip list`

[2021-06-25 16:17] timhdesilva commented on #196
Thanks for the great response, as usual @nils-braun. I wouldn't have thought to realize it had to do with ``dask`` and ``distributed``. Was able to fix it by running ``pip uninstall`` on ``dask`` and using ``pip install dask==XX``, where ``XX`` is the version of ``distributed``. No issues now!

[2021-06-25 16:46] nils-braun commented on #196
Glad it works now!

[2021-06-25 16:46] #196 closed

[2021-06-26 17:53] rajagurunath commented on #130
Hi @nils-braun

Tried implementing Hyperparameter tunning and auto ml-like behavior functionality here, https://github.com/nils-braun/dask-sql/compare/main...rajagurunath:feature/automl, Please review and let me if these changes are good to raise the PR, then will change the code if necessary, update the docs and raise the PR

Thanks in Advance

[2021-06-28 19:04] nils-braun commented on #130
Your changes get really better with each PR you are doing, @rajagurunath  - congratulations! I am not an expert in these automl packages, but this looks already really good. You can open a PR with those changes, I think I do not have many comments this time (as it looks already quite good). Good work!

Sorry, I missed sending an answer to this. You can create a dask client by yourself (as you have

[2021-06-30 14:26] lucharo opened #197 "`TypeError: data type 'varchar(3)' not understood`"
Unable to load ORC table with varchar columns even though varchar is supported (or that's my understanding from [here](https://dask-sql.readthedocs.io/en/latest/pages/sql.html#implemented-types)). The table I am trying to read is in `ORC` format and the query I am trying to write is simply a `select * from table` kind of query. I am using a `pyhive` cursor to read the data and I am able to read te

[2021-06-30 14:35] lucharo opened #198 "Are parquet tables supported?"
I am trying to read in `parquet` tables and I get the following error:
[code]

[2021-06-30 17:38] nils-braun commented on #198
Hi @lucharo ! Thanks for your issue.
Yes, parquet files do work. That looks like some issue with the installation.
Which OS are you using? And how did you install dask, dask-sql and the parquet library you want to use (fast parquet or pyarrow)? Via conda or pip?

[2021-06-30 17:42] nils-braun commented on #197
Hi @lucharo ! Thanks also for this issue.
Do you maybe have an example file for me to try out?
I am not really an expert in ORC files, but I do not see a reason why it should not work (other than a bug), so this is definitely a valid bug report.
I will try to set up some test setup by myself, but that might take a while.

(Of course I would be very happy to hear about your wrapper ;-))

[2021-06-30 17:46] nils-braun commented on #197
Sorry, one additional question: which version of dask-sql are you using?

[2021-07-02 10:47] lucharo commented on #197
Hello @nils-braun, thanks for the swift reply :) I am running `dask-sql 0.3.6` installed via pip. I also have `libthrift 0.14.2` in my conda environment. Let me try if I can create a toy ORC file example and send it over to you!

[2021-07-02 10:50] lucharo commented on #198
Hello @nils-braun, it's weird because I have `libthrift 0.14.2` in my conda environment but it seems like something in `dask-sql` is trying to open libthrift 0.14.1. I am using RedHat Linux in a corporate server (not Azure or GCloud). These are the `dask` libraries I have in my env:
[code]

I will try to downgrade `libthrift` to 0.14.1 and see if that fixes it!

[2021-07-03 13:02] rajagurunath commented on #130
Thanks a lot @nils-braun its all because of your valuable feedback each time (you tuned my hyperparameters 😄 ).

Sorry, last week I was a little bit occupied, I created a PR and detailed some dependency problems I have faced along the way, Please review and let me know your feedback .

(if you are wondering how this will work when users run dask-sql in SQL-only mode: the sql-server automatically s

[2021-07-03 19:16] rajagurunath opened #200 "Integration of DBT and dask_sql"
dbt (data build tool) enables data analysts and engineers to transform their data using the same practices that software engineers use to build applications. refer : [github](https://github.com/dbt-labs/dbt) and  [product website](https://www.getdbt.com/)

so far, dbt is well adopted and working in modern data warehouses and frameworks (SQL engines) like SPARKSQL and presto,
through custom adapter

[2021-07-03 20:40] rajagurunath opened #201 "Implementing Streaming functionality"
Implement streaming operation in dask-sql

Both calcite and dask ecosystem has some support for this, I suppose:

1. [Calcite streaming syntax ](https://calcite.apache.org/docs/stream.html)
2. [dask-streamz](https://github.com/python-streamz/streamz)

SQL syntax :

[code]
behind the hood, dask can read the data from the source (file directory, Kafka, etc ) continuously applies some transforms if n

[2021-07-04 20:18] nils-braun commented on #201
Definitely :+1: from my side. This was actually one of the very first requests that reached me after having published dask-sql - it just seems I failed to document it properly as a GItHub issue (so I am very happy you did it).
I think with your choice of tooling as well as your ideas you are very correctly on track. I did try a very quick PoC, and here are some learnings from that:
* the streamz l

[2021-07-04 20:33] nils-braun commented on #130
Thanks for trying that out. That might be something to report directly to the dask-ml repository.
Honestly, I do not think we need dask-xgboost anymore - as we are now using xgboost directly (without dask-ml).

One question though: where did you find the dependency of dask-ml on dask-xgboost? I tried to find it in pip
(via `pipdeptree -p dask-ml`) or conda ([here](https://github.com/conda-forge/da

[2021-07-05 20:31] nils-braun commented on #200
Hi @rajagurunath
I really like this idea. I am also not an expert in `dbt`, but I see it popping up in many discussions around data engineering in the last months - so it should definitely be on our agenda. Having a quick look into the `dbt` documentation, I have seen the following things:
* https://github.com/dbt-labs/dbt/issues/1860 we should connect to the people on this issue, and get their op

[2021-07-05 20:32] nils-braun commented on #200
And last but not least I would be very interested in the opinion of @goodwanghan - because I think fugue-sql and dbt share some common goals. Han, have you worked with dbt already? How does it relate to fugue-sql?

[2021-07-05 20:46] nils-braun opened #203 "Allow for multiple schemas"
Currently, all tables, functions and other context variables are supposed to belong to the single schema "schema".
In principle, both `Calcite` and the SQL parser statements allows for multiple schemas, we would just need to implement:

- [ ] dictionaries instead of lists for functions, tables and models in the context
- [ ] passing the schema information on into the `RelationalAlgebraGenerator` o

[2021-07-06 19:40] rajagurunath commented on #200
Not completed my exploration on dbt + presto (dask_sql), But here are few findings so far (Apologies if something was wrong)  :

**DB Connection, TRANSACTION, and Execution:**

1. dbt-presto ultimately hands over the query to prestodb - [presto-client library ](https://pypi.org/project/presto-python-client/) where each execution is considered as transaction (every query starts with [START TRANSACT

[2021-07-13 05:49] nils-braun commented on #198
Hi @lucharo ! Did you have some time to try it out? No pressure at all!

[2021-07-16 15:43] rajagurunath commented on #203
Hi @nils-braun ,

Need some more clarification on this issue, Please provide your view on this :

Currently we have following data structures/containers to store the meta information

schema: str
functions: Dict[str, callable]
table : Dict[str,DataContainer]
models:  Dict[str, Tuple(sklearn_model,training_cols)]
experiments: Dict[str, pd.DataFrame]

To introduce multiple schema feature, what is yo

[2021-07-17 12:37] nils-braun commented on #203
Hi @rajagurunath

yes, my first intention was to go from e.g. `tables: Dict[str, DataContainer]` to `Dict[str, Dict[str, DataContainer]`. However, as the number of items that we need to store for each schema grows (functions, table, models, experiments, ...) I am wondering if it would be better to just define a small helper data class

[code]

with some utility functions and then just store a dict

[2021-07-22 05:27] rajagurunath commented on #203
Hi @nils-braun

Thanks for the Hints & Explanation, completely agreed with your concern and tried implementing a small helper class in `dataContainer.py`, stored tables, functions, experiments, models inside `SchemaContainer`  based on your above explanation.

I modified all the files where we are  referencing tables,functions,experiments,models etc . here: https://github.com/nils-braun/dask-sql/c

[2021-07-30 13:59] sarahyurick opened #204 "Consider using default sorting algorithm with `partition.sort_values` function"
Hi, I was wondering if there is a reason behind `kind="mergesort"` being used in [sort.py](https://github.com/nils-braun/dask-sql/blob/c9ce6de09fb27ed67e2454bbc02b9532125795d7/dask_sql/physical/utils/sort.py):
[code]
instead of not specifying the `kind` parameter and using the [default](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html) quicksort? There a

[2021-07-30 18:58] nils-braun commented on #197
@lucharo - did you succeed in creating a test OCR file?

[2021-07-30 19:36] nils-braun commented on #203
Hi @rajagurunath
Cool, I like having a class for that. I have never used the `singledispatchmethod` before - very cool idea. Not sure if it is really needed here, but cool to see anyways ;-)

I think you did already cover most of the changes, nice work!

I think we can be very pragmatic here: we only allow a user to edit (create/drop) entities in the currently selected schema. If a user wants to d

[2021-07-30 20:40] nils-braun commented on #204
Hi @sarahyurick - thanks for your question! Yes, there was a reason behind this indeed. It is described a few lines [above the code you pasted](https://github.com/nils-braun/dask-sql/blob/c9ce6de09fb27ed67e2454bbc02b9532125795d7/dask_sql/physical/utils/sort.py#L50) and is basically a speed improvement when we have multiple columns (referencing [this pandas issue](https://github.com/pandas-dev/pand

[2021-08-01 09:06] rajagurunath commented on #203
Hi @nils-braun,

Thanks a lot for the detailed explanation, Now I understood the difference between `SimpleIdentifiers` with `CompoundIdentifiers`, Clearly I see your point, we need to have the convenience function.

It's all yours @nils-braun, 💟   I am just modifying the code here and there,  Please modify/change the code wherever you want, If you need any permission please let me, I am not sure

[2021-08-03 15:43] sarahyurick commented on #204
Thanks for the response! I was mostly just curious - I haven't compared Pandas' mergesort versus quicksort performance before.

[2021-08-05 04:33] ChrisJar opened #206 "ValueError: invalid literal for int() with base 10 when using IN operator"
When I run a query that both selects from multiple tables and uses the `IN` operator, I get the an error that looks like `ValueError: invalid literal for int() with base 10: 'Sarg[2, 3]'`

For example:
[code]

returns:

[code]

The query:
[code]

returns the same error. However, just performing a single equality operation like:
[code]
computes without issue.

[2021-08-05 16:48] rajagurunath commented on #206
Hi @ChrisJar,

Thanks for the detailed Bug Report and easy to reproduce code snippets, I can reproduce the issue using the latest dask_sql package released to PyPI

I guess this issue was now fixed in the main branch because I am getting the expected answer as shown in the screenshot.

![image](https://user-images.githubusercontent.com/25167333/128388594-39635f36-e11d-4de3-99cf-e570cede902c.png)

[2021-08-05 21:05] #203 closed

[2021-08-06 03:00] ChrisJar commented on #206
I can confirm that installing the latest branch fixes this. Thanks!

[2021-08-06 03:00] #206 closed

[2021-08-12 15:17] rajagurunath opened #209 "ETL in dask-SQL"
Dask was used as scheduler/compute engine in a number of ETL TOOLS like Airflow, prefect, Dagster, etc. thanks to the  Dask distributed server infrastructure.

Shall we try to make use of this advantage and try to provide a SQL-only ETL experience for the User?
TLDR; shall we integrate dask-sql with ETL Tools? (maybe a  customOperator or Task or Step)

I am thinking of two approaches as follows to

[2021-08-13 15:38] jacobtomlinson opened #210 "Move to dask-contrib"
A while back in dask/community#115 there was some interest shown in moving this project over to the [dask-contrib org](https://github.com/dask-contrib/). I would be really excited to see this happen!

I think the road to this would be for @nils-braun to transfer ownership of this project to any of the Dask owners and then we can move it into the contrib org. Perhaps either myself, @jsignell or @jr

[2021-08-13 15:47] nils-braun commented on #210
I would be very happy to do so. Thanks you do asking. I will do so this evening.

Is there anything I need to change in the repository (like Contribution information, license or alike?).

[2021-08-13 15:52] jacobtomlinson commented on #210
Awesome! If you're going to do it during the Europe evening you may want to coordinate with @jrbourbeau or @jsignell via the Dask Slack for a smooth transfer as they will be around.

[2021-08-13 15:52] jacobtomlinson commented on #210
It's MIT now so I expect that till be fine.

[2021-08-13 16:14] jrbourbeau commented on #210
+1 @nils-braun and I are coordinating now

[2021-08-13 16:48] nils-braun commented on #210
The repository is successfully transferred: https://github.com/dask-contrib/dask-sql
Thanks to @jrbourbeau and @jacobtomlinson for your help!

[2021-08-13 16:48] #210 closed

[2021-08-13 16:52] mrocklin commented on #210
Woo!

On Fri, Aug 13, 2021 at 11:48 AM Nils Braun ***@***.***>
wrote:

[2021-08-13 17:12] jsignell commented on #210
Welcome!

[2021-08-13 17:42] jacobtomlinson commented on #210
Woop!

[2021-08-14 07:49] nils-braun commented on #155
There is some significant work in this direction now. @sarahyurick has started some PRs (e.g. #211 and #207) to make dask-cudf work with dask-sql. Maybe @sarahyurick can you quickly summarize the current status (what works, what does not work so far) and where we could help you?

[2021-08-14 14:39] rajagurunath opened #212 "Docs link broken in the `about` section of the github repo"
In the About section of the repo the link https://nils-braun.github.io/dask-sql/ seems broken shall we change the link to
https://dask-sql.readthedocs.io/en/latest/  or any other idea?

[2021-08-15 05:09] nils-braun commented on #212
Oh, good point! I totally forgot that this URL also changed during the move to dask-contrib. It's now under dask-contrib.github.io/dask-sql. I will change the URL. We should make a pass over the full repo do fix all old links (repo + website) at some point.

[2021-08-15 12:04] rajagurunath opened #213 "Add Alter schema|Table statements to dask-sql"
These Alter commands are needed in software like **dbt** for creating views and renaming those entities etc.
so probably it will be helpful to have the following statements

1. ALTER SCHEMA
2. ALTER TABLE

For ALTER TABLE, we may use following presto docs as reference which contains (`rename`,`add column`,`drop column`)
  https://prestodb.io/docs/current/sql/alter-table.html

[code]

[2021-08-16 14:02] sarahyurick commented on #155
Absolutely! With both #211 and #207, these basic queries work: select, select distinct, where, and, or, not, order by, null checks, min, max, count, avg, sum, like, in, between, groupby, having, exists, case, and operators.

However, we are not able to merge #207 into dask-sql (since it causes one of Nils' tests to fail), which is needed to make groupby aggregations work with cuDF. We currently ha

[2021-08-17 16:10] #212 closed

[2021-08-17 22:08] ayushdg opened #215 "[Docs] API docs not rendering on docs site"
The api documentations [page](https://dask-sql.readthedocs.io/en/latest/pages/api.html) returns a blank page on the docs site.

[2021-08-18 06:18] nils-braun commented on #215
Thanks @ayushdg - there seems to be a bug in the sphinx build process.
Until it's fixes, please have a look into [an older version](https://dask-sql.readthedocs.io/en/0.3.6/pages/api.html).

[2021-08-18 10:36] nils-braun commented on #215
The problem is fixed now and the [API docs](https://dask-sql.readthedocs.io/en/latest/pages/api.html) are visible again. There was a dependency missing during the sphinx build process.
Why I did not receive a mail due to the failed build from readthedocs I do not know so far...

[2021-08-18 10:36] #215 closed

[2021-08-18 15:09] ayushdg commented on #215
Thanks @nils-braun for the quick response and fix!

[2021-08-18 17:11] randerzander opened #218 "Consider persist=False as default when creating table from DataFrame"
By default, when creating a table from a Dask Dataframe, the `create_table` function persists the Dask DataFrame in memory.

This was surprising (partly because I didn't see it in the doc examples) when working on a large ETL job. I suspect for most users (especially those running larger jobs on systems where data is larger than memory) this will be a surprising realization. In my case, I spent ti

[2021-08-18 20:58] nils-braun commented on #218
I am sorry to hear that this caused you problems! I do definitely see your reasons, let me give you my rationale, when I created this default:
* I assumed users will create a table once and then maybe do multiple queries on it. Persisting the content will speed up the process.
* data will be loaded at the moment they call `create_table`. If it changes later, they won't notice (which I assumed seem

[2021-08-19 06:58] nils-braun commented on #209
Yes! That would be very cool! Thank you for this idea - I thing it will be a very valuable addon and I can't wait to see it in action!

How to implement this feature is definitely not simple. You had two good ideas, however I fear that they will not work when the number of (workflow engine) workers starts to grow. I have only experience with Airflow, but as you correctly pointed out more workers m

[2021-08-19 07:02] nils-braun commented on #190
Hi @flcong! Did you have time to look into the issue with the joins further? Is there anything I can help you with?

[2021-08-19 13:06] flcong commented on #190
Hi, @nils-braun . Yeah, I've finished editing the `join.py` file to make it work, but I have not fully tested it yet. I plan to add more unit tests in the next week.

[2021-08-22 14:22] rajagurunath commented on #218
Sorry for being late here, `persist =True|False` both have equal weights in my opinion, and agreed with both the points mentioned above.

- ETL -  needs to create a table eagerly (on demand) and pull the latest data every time instead of persisting the table in cluster RAM
- Dashboard| BI tools  - may benefit from using already created /cached tables to retrieve the data quickly.

One more thing I

[2021-08-23 15:05] randerzander commented on #218
A last thought in support of making `persist=False` by default is Dask DataFrame also does not persist unless explicitly asked by the user. Since Dask SQL users are likely Dask users, persisting only when specified would be most consistent.

[2021-08-23 18:17] rajagurunath commented on #209
Hi @nils-braun,  Thanks for the detailed explanation of the possible solution , completely agreed! ,  As you said we can go ahead with solution 2b , which is straightforward, easy to setup and non-opinated.

Sure so I try to refactor the code base with proposed changes. So once the dask-sql server was up and running, we are going to use `presto client` for connection or any other plan like just us

[2021-08-23 19:54] nils-braun commented on #209
Good question! I would think the easiest is sqlalchemy with a presto library/protocol.

[2021-08-23 20:17] nils-braun commented on #218
That @randerzander convinces me most :-)
Ok, I am now also in favour of changing the default. (if @rajagurunath is not against it). Would you like to do it @randerzander or shall we proceed?

[2021-08-25 12:59] brandon-b-miller opened #225 "Row-wise scalar UDFs"
Hello, first off thanks for `dask-sql`!

I noticed (and please correct me if I am wrong) that the current process for running UDFs basically works by forwarding the relevant columns of a table directly to that python function as arguments. That is, if I have

[code]

and I write

[code]
The impl will pass `col0` and `col1` as dask series directly as arguments to `f`, at which point `f` simply runs

[2021-08-26 07:12] nils-braun opened #227 "Strategy for running CI-tests against GPU machines"
With the recent integration of dask-cudf into dask-sql, it would be wise to start testing against GPU libraries and machines in the automated build triggered by GitHub actions.

@ayushdg mentioned on [#220](https://github.com/dask-contrib/dask-sql/issues/220#issuecomment-904761024_), that:

I would be very much interested, if this is also an option for dask-contrib packages (and if this would be s

[2021-08-29 16:29] rajagurunath commented on #213
Hi @nils-braun,

I tried adding Alter schema command in a couple of ways ( inheriting from `SqlAlter` and `SqlCall`) for the last few days but didn't get any luck.

Error : ```  dask_sql.utils.ParsingException: Non-query expression encountered in illegal context ```

I am suspecting this issue is from the Java Calcite SQL parsing side, I am  Beginner in both Java and Calcite, So need your help to

[2021-08-30 13:18] rajagurunath opened #232 "Create PyUDF using SQL"
Once the dask-sql server with presto protocol(fastapi ) was up and running, can we have some way to define python UDF dynamically? currently, one available way was to register the python UDFs in the context and spinning up the FastAPI server.

But once the SERVER was up and running, we don't have any mechanism to register the python functions, Not sure this is really helpful or not for the dask-sq

[2021-08-30 13:31] nils-braun commented on #179
Hi @Robert-Christensen-visa , @gallamine - that would be very nice and would simplify our lives a lot!

Sorry @gallamine for not continuing the discussion on the PRs and here. Can we pick this up again?

[2021-08-30 14:04] brandon-b-miller commented on #225
Thank you both for your detailed replies.

Allow me to address the performance consideration first as I think it constitutes a stronger motivation. Indeed, pandas does not make many performance promises when it comes to row wise UDFs that behave in this manner. However I believe part of what makes dask great in general is that it focuses on being a really great engine for distributing computation

[2021-08-30 14:12] nils-braun commented on #213
Hi @rajagurunath - sure!
The parsing logic of Calcite (or better: the templating logic and javaCC) is still also a mystery to me... (and this is actually not the only occurrence of such a problem in the last days, see https://github.com/dask-contrib/dask-sql/pull/228#pullrequestreview-740364960)

You can fix the immediate problem by removing "ALTER" from the list of `nonReservedKeywordsToAdd`. How

[2021-08-30 14:23] nils-braun commented on #225
Oh! I wasn't aware that `cuDF` does already optimize the `apply`s. Well, that makes things less in-performant then :-)

I am with you that this will probably increase usability, especially for new users. Probably that is something we should optimize for. I am just still a bit scared that we make it too easy to do it wrong (because I still assume that many users will have a pandas backend).

How ab

[2021-08-30 19:08] randerzander opened #233 "Reading via pyHive broken?"
I'm attempting to read from a HiveServer2 instance w/ dask-sql, but running into a error. It looks like a failure to read_csv?

[code]

Trace:
[code]

When I create a Parquet version of the same data, I get a different error:
[code]

What assumptions does Dask-SQL make about the path it will actually use to read data? In my case, HS2 is running in a separate container, so I suspect the Python proc

[2021-08-30 19:43] charlesbluca commented on #227
The basic setup for Dask's gpuCI consisted of:

- Marking relevant GPU tests with a custom pytest marker (see dask/dask#7876)
- Enabling gpuCI on a fork of Dask and getting the required setup files working there (see charlesbluca/dask#1); these files consist of
  - a [shell script](https://github.com/dask/dask/blob/main/continuous_integration/gpuci/build.sh) defining the steps to build the test en

[2021-08-30 19:48] nils-braun commented on #233
You are absolutely correct with your assumption: in the way you created the table, dask-sql will only get the location from Hive and will then try to read the data "by itself" from the specified location.

I like the idea of having more information on the error message. Maybe we can check if there is at least a single file before trying the actual read. If you turn on debug logging, I think there

[2021-08-30 22:57] Robert-Christensen-visa opened #234 "multiple partitions for hive not delimited correctly"
To get a list of hive partitions the command `SHOW PARTITIONS` is used:

https://github.com/dask-contrib/dask-sql/blob/ece7ec7858b12b2b54b372c34fc79197e9f2fc43/dask_sql/input_utils/hive.py#L265-L277

For tables with multiple partition keys, it will return a list that is `/` delimited.  For example, if the table has two partition keys, `date` and `region`, one of the entries returned might be like

[2021-09-01 15:53] 99snowleopards commented on #143
hello @beckermr - have you had a chance to try out the SDC library yet, I've been looking at ways to speed up workflows for large datasets for analytics/ETL use cases - apart from Dask of course, I've tried Vaex as well.

looks like Bodo (https://bodo.ai/community-edition) extends the SDC and Numba libraries and might be an alternative to speed up and parallelize dataframe ops for large datasets

[2021-09-01 15:57] beckermr commented on #143
I have not!

[2021-09-10 00:18] Robert-Christensen-visa opened #237 "support to limit partitions for hive tables"
Hi,

I recently noticed blazing-sql has support to specify partitions to include when using `create_table` from a hive table.  It is [here in their docs](https://docs.blazingsql.com/reference/python/tables/apache-hive.html?highlight=hive#id1).  Something like this would be very useful.  Some hive tables are massive.  Sometimes when running a query we know we are only interested in some specific pa

[2021-09-15 18:11] charlesbluca opened #239 "Who should have admin privileges for gpuCI?"
As we move forward with getting gpuCI set up for dask-sql, we need to decide who will be on gpuCI's list of admins for this repo.

gpuCI admins have the ability to:

- Approve PRs from users not currently on gpuCI's list of approved users
- Add users to gpuCI's approved users list so all of their PRs will trigger gpuCI

A more detailed description of this can be found in [Dask's docs](https://docs

[2021-09-15 18:26] jakirkham commented on #239
Thanks for writing this up Charles! 😄

Agree it would be good to here from Nils & Gurunath.

Thinking about how other CI services work for a moment, usually permissions are conveyed based on what permissions one has on the repo itself. Maybe this would make sense here? If so, one thing to unpick would be whether one needs `write` permissions on the repo or `admin` permissions on the repo.

[2021-09-15 18:50] charlesbluca commented on #239
I think `write` permissions correspond pretty well with gpuCI admin privileges, in that [write access is required to approve workflow runs for first-time contributors](https://github.blog/changelog/2021-04-22-github-actions-maintainers-must-approve-first-time-contributor-workflow-runs/).

Basing gpuCI permissions on repo permissions seems sensible, although since gpuCI permissions are handled inde

[2021-09-16 17:51] ayushdg opened #241 "Control groupby params like `split_out` with Dask-sql"
The dask dataframe api for groupby aggregations returns a single partition dataframe as the output unless [params](https://docs.dask.org/en/latest/dataframe-api.html#dataframe-groupby) like `split_out` are specified to split the output out to multiple partitions. This is useful when the result of a groupby is large and cannot be persisted on a single worker.
Ability to specify other params like `s

[2021-09-16 20:24] jakirkham commented on #239
Sure my guess is we will add a few people to start and then things will stay more-or-less the same for a while. So we can just take a look at who has `write` permissions once we are ready and add them. Should add would be happy to hear thoughts from Nils & Gurunath (and potentially do something different if they have preferences)

[2021-09-16 20:26] brandon-b-miller commented on #225
Picking up work on this shortly and hopefully a PR to come :)

[2021-09-17 09:17] rajagurunath commented on #239
First of all Thanks a lot for all the efforts integrating gpuCI to dask-sql  @charlesbluca @jakirkham

Apologies for the delayed response here, As Discussed above, Since we can add any number of Users to the gpuCI approved list in the future (but understood the concern (gpuCI bot getting pinged multiple times) @charlesbluca  mentioned here https://github.com/dask-contrib/dask-sql/issues/227),  I a

[2021-09-17 14:50] charlesbluca commented on #239
Sorry if I didn't make this clear with the original issue description - I'm more thinking of the list of users to make gpuCI *admins* (that is, can decide who is approved for GPU testing or not). The initial list of approved users will likely be much larger than the admin list - for example, in Dask/Distributed we started off by adding all members of the Dask org to the approved list, with admins

[2021-09-17 15:21] jakirkham commented on #239
We might want to add the admins from the Dask org to dask-contrib generally

[2021-09-20 18:34] VibhuJawa commented on #241
We should also look into adding this ability to APIs like `Distinct` too as they suffer from the same problem as `group-by` aggregates.

[2021-09-21 22:57] ayushdg opened #242 "timestampdiff support"
the `timestampdiff` operation currently fails to do missing `reinterpret` implementation error.

Here's a reproducer:
[code]
Error with:
[code]

[2021-09-24 13:40] rajagurunath commented on #242
Hi @ayushdg,

Thanks a bunch for trying this out and an easy example to reproduce the bug.

A quick explanation of the Query gives:

[code]
Currently, As you mentioned, dask-sql missing `Reinterpret`  operator (which is somewhat similar to the cast Operation mentioned [here](https://ci.apache.org/projects/flink/flink-docs-release-1.3/api/java/org/apache/calcite/sql/fun/SqlStdOperatorTable.html#REI

[2021-09-27 14:43] com-nvidia-yohuang opened #243 "Why does DaskSchema getExpression return null mean?"
Hi dask-sql developers,

I am using dask-sql as the core engine to query/process data of different sources (e.g., elasticsearch, sqlite, csv, etc.). I use c._get_ral function to parse SQL statement and get back the parsed RelNode, and then traverse the RelNode tree to syncpate the tree into sub query trees that can be sent to the data source engines, the returned data from different sources then a

[2021-10-05 16:15] rrpelgrim commented on #61
@nils-braun - I'm curious if you ended up writing the documentation pages mentioned in [your comment above](https://github.com/dask-contrib/dask-sql/issues/61#issuecomment-720503301)? I've found [this in the Dask docs](https://dask-sql.readthedocs.io/en/latest/pages/server.html?highlight=superset#run-it-in-your-own-dask-cluster).

If not, I'd be up for taking this on.

[2021-10-05 19:33] quasiben commented on #61
@rrpelgrim I don't think anyone will say no to doing work here.

[2021-10-06 07:20] rrpelgrim commented on #61
@quasiben - good to know. I'll be drafting some code examples in the coming week or two, will check back in here when I have something to share. @nils-braun @rajagurunath - happy to incorporate any of your input, so feel free to share that here.

[2021-10-06 16:41] charlesbluca commented on #182
Sure - hopefully in the future, we will have a more robust standard for keeping track of what is being worked on or not. For now, I can assign this issue to you as you work on this. Feel free to let me know if you're unable to work on it anymore!

[2021-10-06 16:47] rajagurunath commented on #61
Hi @rrpelgrim,

Thanks for taking up this work.

It would be of great help if we have any scripts or automated ways of connecting/Deploying  Dask-SQL and BI tools together. As mentioned in this issue: https://github.com/dask-contrib/dask-sql/issues/57, Building helm charts for both the dask-sql server and BI tools was one such plan. (So that users can use that chart and create `compute(dask-sql)`

[2021-10-08 18:16] #239 closed

[2021-10-11 19:16] VibhuJawa opened #250 "[ENH] Support persist configuration for sorting"
**Is your feature request related to a problem? Please describe.**

We should support a persist configuration for sorting for  better computational efficiency.

**Why:**

`sort_values` [call](https://github.com/quasiben/dask-sql/blob/9f4868c730518d045ef7f80a9bbeb773fa23f307/dask_sql/physical/utils/sort.py#L57) in `dask-cudf` is not lazy and triggers computation of the whole graph thats provided be

[2021-10-12 02:21] ayushdg opened #252 "[ENH] Add support for CONCAT function"
**Is your feature request related to a problem? Please describe.**
Dask-sql supports concatenating columns via the `||` operator but does not support the `CONCAT` method.

**Describe the solution you'd like**
Supporting `CONCAT` as follows:
`SELECT CONCAT('John', ', ', 'Doe')`

**Describe alternatives you've considered**
Workaround to this is using the `||` operator
`SELECT 'John' || ', ' || 'Doe'

[2021-10-12 14:14] charlesbluca commented on #252
Seems like all we need to do here is add `concat` to the operation mapping for `RexCallPlugin` - opened https://github.com/dask-contrib/dask-sql/pull/253 to do this

[2021-10-12 18:37] #227 closed, assigned to nobody

[2021-10-13 18:46] quasiben opened #257 "[FEA] 0.4 Release ?"
It's been awhile since dask-sql has done a release.  With the new committers on the team,  I was curious if you all would be interested in testing out dask-sql's release process

cc @rajagurunath @galipremsagar @charlesbluca

I suspect @rajagurunath would like to see #231 go in before any release

[2021-10-13 20:55] rajagurunath commented on #257
For sure, It's really a great idea, Lot of good work was added since the last release !!!. Please let me know if something needs to be done from my end. (And Apologies for being late).

For sure @quasiben, I have already started looking into this PR, Feeling somewhat less confident in the testing part, Happy to incorporate  Feedbacks/suggestions from @charlesbluca. May we will try to incorporate t

[2021-10-14 22:10] DaceT opened #258 "[ENH] substr() not supported in dask-sql"
**Is your feature request related to a problem? Please describe.**
I'm working on porting a large set of queries from another engine to dask-sql. I see that I can update the queries to use "substring" instead, but it would be nice if users didn't have to.

**Describe the solution you'd like**
Can we have substr() supported in dask-sql in the same way that substring() is?

**Describe alternatives y

[2021-10-15 16:11] randerzander opened #259 "[QST] Anyone opposed to adding some new labels?"
It'd be useful to have some more labels for classifying issues and PRs.

For example, as more users adopt Dask-SQL for diverse workloads, we see a lot of SQL syntax specific feature requests:

[substr vs substring](https://github.com/dask-contrib/dask-sql/issues/258)
[distribute by](https://github.com/dask-contrib/dask-sql/pull/228)

It'd be nice to have a "SQL Grammar" label for these.

Another m

[2021-10-15 16:21] ayushdg opened #260 "[QST] Explore `count distinct` memory usage."
**What is your question?**
I've noticed a much higher memory usage with `count(distinct())` aggregations during groupby leading to OOM's. This might just be the nature of the aggregation requiring a higher memory footprint, but it might be worth exploring a bit deeper to see if there is scope for some optimization.
Possibly related to this is #241 where being able to control number of output parti

[2021-10-15 16:33] ayushdg commented on #258
@DaceT Thanks for raising this issue! If you get a chance could you try `dc.explain(query)` and post the output from that command. Trying to evaluate if it's just something that's unsupported on the python side, or if the calcite parser doesn't support `substr` because of the grammar syntax supported today.

[2021-10-15 17:37] DaceT commented on #258
@ayushdg oops, thanks for the correction!

[2021-10-15 18:19] ayushdg commented on #241
Looking through the codebase, here's how I think it could be implemented:
1. Add a config dictionary to each schema within the context similar to what's done for tables, and user registered functions/models: https://github.com/dask-contrib/dask-sql/blob/ebdf4d5e5e5d622bfda881129620a4216f16e453/dask_sql/datacontainer.py#L184-L191

2. Similar to how dask-sql queries some of these schema specific opt

[2021-10-18 16:42] #225 closed

[2021-10-19 20:22] DaceT opened #264 "[BUG] AssertionError"
**What happened**:
- I'm running a query in dask-sql but I'm encountering an AssertionError.  I also tried running it in pandas and outputted the same error.

**What you expected to happen**:
- I expected a table with values.

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**:
- Traceback:

[code]

**Environment**:

- dask-sql version: **0.3.10.dev30+ge811e54**
-

[2021-10-19 21:18] DaceT opened #265 "[BUG] Column w/ null values"
**What happened**:
- When I ran a query in dask-sql, I received a ValueError. I also tried it with pandas and it worked fine.

**What you expected to happen**:
- I expected it to run successfully and produce a table.

**Minimal Complete Verifiable Example**:
[code]

**Anything else we need to know?**:
- Traceback:

[code]
**Environment**:

dask-sql version: **0.3.10.dev30+ge811e54**
Python version

[2021-10-20 17:09] ayushdg opened #269 "[ENH] Consider not persisting by default when using create table as select syntax."
**Is your feature request related to a problem? Please describe.**
Based on discussions in #218 dask-sql no longer persists by default when creating tables from dataframes using the `context.create_table` syntax. However when using the create_table syntax from sql the behavior can be slightly different.
[code]
will not persist the table by default unless the param `persist` is passed in the query.

[2021-10-20 17:15] randerzander opened #270 "[ENH] Allow updating UDFs"
**Is your feature request related to a problem? Please describe.**
While developing UDF logic, it's common to update or tweak the code then test it live inside a query.

Currently you can only register a function w/ the same name once. If you update the UDF code and re-register you get:
[code]

**Describe the solution you'd like**
Ideally if you register a function w/ the same name a second time,

[2021-10-20 17:22] randerzander commented on #270
Wow, thanks for the suggestion. That works!

[2021-10-20 17:29] randerzander commented on #270
Probably linking to the API from the "Custom Functions and Aggregations" page is a good idea.

I can see why register_function doesn't allow replace by default, but it might be nice for the error message to suggest using `replace=True`.

[2021-10-20 20:21] DaceT opened #272 "[BUG] rank() function doesn't work in dsql"
**What happened**:
- I'm running a query in dask-sql but I'm encountering a KeyError.

**What you expected to happen**:
- I expected it to return the rank of each row in the output table as a column.

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**:
- Full Stack Trace:
[code]

**Environment**:

dask-sql version: **0.3.10.dev30+ge811e54**
Python version: **3.8**

[2021-10-20 21:12] charlesbluca commented on #257
With #231 merged in, I think we're in a pretty good place to do another release. @rajagurunath @quasiben how does a release in the next couple days sound?

[2021-10-21 15:53] randerzander opened #274 "[ENH] Support UNION ALL statements"
[code]

Result:
[code]

Expected Result:
[code]

[2021-10-21 16:14] #274 closed, assigned to nobody

[2021-10-25 16:18] randerzander opened #278 "[BUG] Row-based functions seem to be broken w/ Pandas tables"
I'm trying to run the example row-wise UDF example in [the docs](https://dask-sql.readthedocs.io/en/latest/pages/custom.html#row-wise-pandas-udfs)
[code]
Traceback:
[code]

Perhaps we need to more fully specify the dtypes of inputs and outputs in this example?

[2021-10-25 17:20] randerzander opened #279 "[ENH] Support passing scalar args to UDFs"
**Is your feature request related to a problem? Please describe.**
I'd like to pass non-Dataframe and Series arguments to UDFs.

**Describe the solution you'd like**
[code]
Trace:
[code]

**Describe alternatives you've considered**
Related to https://github.com/rapidsai/cudf/issues/9500, it's possible to create and update global variables used by UDFs.

**Additional context**
Supporting scalar arg

[2021-10-25 17:30] randerzander opened #280 "[ENH] Support a "coalesce" repartitioning type hint"
In SQL, it's common to work w/ large data and aggregate or filter it down to few enough rows that it could be merged into a single partition in memory.

Today you can achieve this with something like:
[code]

It would be nice to support something like:
[code]

As a motivator, Dask DataFrames can use a broadcast or "map-side" join if one of the DataFrames consists of a single partition. Allowing us

[2021-10-25 18:41] randerzander opened #281 "[BUG] c.ipython_magic doesn't work in recent Jupyter Lab"
With a clean conda environment:
[code]
From a clean notebook:
[code]
[code]

It wasn't clear from the docs if c.ipython_magic() is meant to be called as a standalone statement, or with some other SQL statement in the same cell:
cell 1:
[code]
cell 2:
[code]

Conda environment details:
[code]

[2021-10-26 19:35] randerzander opened #284 "[QST] How to install the nightly Dask-SQL packages w/ RAPIDS?"
I've created a new conda environment using rapidsai nightly packages and am trying to install dask-sql nightly packages alongside them:

[code]
Whereas when I build and install dask-sql from main, things work fine.

Does dask-sql need to provide a wider build matrix w/ more versions of glibc, or do I need be more specific w/ my conda package installation commands?

I'm running Ubuntu 20.04:
[code]

[2021-10-26 19:45] #284 closed, assigned to nobody

[2021-11-02 14:17] #278 closed

[2021-11-02 14:34] charlesbluca opened #287 "[BUG] Dask cluster tests failing"
Looks like the Dask cluster tests occasionally error out:

https://github.com/dask-contrib/dask-sql/runs/4081154837?check_suite_focus=true

I'm not able to read the pytest logs in this workflow run, but it looks like all the tests errored instead of failing; I imagine this is just a flaky occurrence, but it would be good to keep this on our radar for later on.

[2021-11-02 14:39] charlesbluca commented on #287
The logs loaded and it looks like all the tests fail with an `OSError` that is roughly the same (truncated as each traceback is pretty large):

<details>

[code]

</details>

[2021-11-02 14:50] jdye64 commented on #242
I can take a look at this one

[2021-11-02 14:50] jdye64 commented on #269
happy to do this one

[2021-11-02 14:51] jdye64 commented on #258
I can knock this one out

[2021-11-02 14:51] jdye64 commented on #280
I can handle this one

[2021-11-02 17:51] jdye64 opened #288 "[ENH] Support NULLS {FIRST | LAST} in ORDER BY grammar"
Postgresql supports specifying the NULLS ordering in the ORDER BY statement as described [here](https://www.postgresql.org/docs/8.3/queries-order.html) we should similarly support this functionality

[2021-11-02 18:51] rajagurunath commented on #288
Hi @jdye64,

Thanks for Creating/Working on this issue!

A few days back I saw some `order by`  test cases in dask-sql (which seems working, except for some edge cases), Are we looking for something similar here? 🤔

https://github.com/dask-contrib/dask-sql/blob/77f1d87ba7a3913d66afa8ceaf6b5e124bbf6644/tests/integration/test_compatibility.py#L145-L176

[2021-11-02 19:09] charlesbluca opened #290 "[QST] To what extent should Dask-SQL's output match PostgreSQL?"
**What is your question?**
Dask-SQL uses many workarounds in Dask/Pandas to return results that generally mirror PostgreSQL; these workarounds often have significant performance impacts. Some that I've worked on:

- The [custom sorting functions](https://github.com/dask-contrib/dask-sql/blob/e48d9c1471eaf2c7f3b459235bc19f4041bda45d/dask_sql/physical/utils/sort.py#L70-L135) handle multiple ascendin

[2021-11-02 19:50] vyasr opened #291 "[DOC] Discuss internal GPU support rather than referring to Blazing"
## Report incorrect documentation

**Location of incorrect documentation**
The [Quickstart section of the README](https://github.com/dask-contrib/dask-sql#quickstart).

**Describe the problems or issues found in the documentation**
This section refers users wanting to use GPUs for queries to BlazingSQL.

**Steps taken to verify documentation is incorrect**
N/A

**Suggested fix for documentation**

[2021-11-02 19:58] vyasr commented on #290
I think option 2 is the realistic long-term solution that pretty much all engines take, and it's a matter if deciding how to draw the lines. As someone from the outside looking in, my question would be whether we think of Dask-SQL as an implementation of PostgreSQL or as an implementation of SQL. If the latter, it might be helpful to look at how [compliant other SQL engines are](https://en.wikiped

[2021-11-02 20:14] quasiben commented on #291
@ayushdg would you be up for fixing the README ?

[2021-11-02 20:18] ayushdg commented on #291
Yeah, happy to make the change.

[2021-11-02 21:11] rajagurunath commented on #242
Hi @jdye64

Thanks a lot for looking into this issue,

I am working on this `timestampdiff implementation` for the past few days, but have not been able to achieve the results completely.  So looking for another pair of hands to help me sort this issue 😁

Please have a look, at some of  the work done so far: https://github.com/dask-contrib/dask-sql/compare/main...rajagurunath:feature/timestampdiff

[2021-11-03 14:24] jdye64 commented on #242
@rajagurunath I think it would be good if you could open a WIP PR. That would allow us to discuss a little more and also take advantage of CI for testing theories and changes.

[2021-11-03 15:26] rajagurunath commented on #242
Thanks a lot @jdye64, have created a PR, Please review and let me know your Suggestions/Feedback

[2021-11-03 15:27] randerzander commented on #290
Generally, I think people see a SQL project and assume initially that it implements "all of SQL".

For example, when we first started trying to integrate GPU support, devs here started by trying to do inserts, updates, and deletes, even though Dask (and Dask-SQL) don't try to be data storage applications, but rather a data processing engine.

Users learn either through testing a given SQL implemen

[2021-11-03 18:02] ChrisJar opened #296 "[BUG] Selecting based on dates unexpectedly returns no results."
**What happened**:
When selecting rows based on a set of dates, dask-sql returns no results even though there are matches

**Minimal Complete Verifiable Example**:

For example:
[code]
returns:
[code]
This also occurs when the input column is cast to datetime:
[code]
However: this does not occur when using GPU dataframes. For example:
[code]
returns
[code]

**Environment**:

- dask-sql version: 0.

[2021-11-03 18:40] ayushdg opened #297 "[BUG] Occasional segfaults during query parsing/execution with ucx environments"
**What happened**:
Using this issue a place to document segfaults a few folks were seeing when using dask-sql along with dask-cuda in an environment that contains ucx and [ucx-py](https://ucx-py.readthedocs.io/en/latest/). Typically the errors as segfaults caused by `SIGSEGV` and the import order of libraries seems to impact whether the segfault happens or not.

**What you expected to happen**:
Id

[2021-11-03 20:57] charlesbluca commented on #290
Agreed, I definitely think that documenting our non-conformance should make it more clear upfront to SQL users what this project offers (or doesn't).

Same - I suspect that it may have just been a means of bootstrapping this project in the way that was most convenient at the time (in which case branching away from PostgreSQL shouldn't be much of an issue), but it would be nice to get some feedback

[2021-11-03 21:23] #291 closed

[2021-11-03 21:34] jdye64 commented on #297
Here is a minimal reproducer where I was seeing the issue. Including the conda environment setup

**Conda**
[code]
**Script**
[code]

[2021-11-03 23:54] Thrameos commented on #297
@ayushdg with regard to the segfaults when the JVM starts this should happen in the jpype.startJVM command and it is caught by the JVM so the user never sees it.   It is problematic because when you try to run with gdb to locate the source of a seg fault you will get this hidden segfault preventing you from finding the real source.

As far as interactions that are known to cause segfault.   The li

[2021-11-04 00:14] ayushdg commented on #297
@Thrameos Thank you so much for the detailed response and suggestions! I'll try testing this with gdb as suggested and see where that leads me.

@pentschev Based on the information here does anything stand out as something that ucp might also be using/doing?

[2021-11-04 04:16] charlesbluca commented on #257
Closing this now that 0.4.0 is out - note that we'll probably want to do a minor release once #294 or another solution for #297 is merged in

[2021-11-04 04:16] #257 closed

[2021-11-04 10:04] pentschev commented on #297
If I didn't misunderstand the above statement, the segfault always occur and JVM catches and hides it. If that's the case, it seems to me that what happens when we have UCX is it will intercept that segfault and throw it instead of hiding it.

It appears as if the UCX error handling falls into the same category. The alternatives I see are:

1. Ensure UCX is never imported before the JVM starts (i.

[2021-11-04 19:53] jdye64 commented on #288
Before closing this I want to add 1 more pytest just to ensure we are getting full grammar testing coverage. I will post that PR here once I do so. If that passes this can be closed.

[2021-11-04 20:40] rajagurunath commented on #296
Hi @ChrisJar,

Thanks for writing this detailed Description and easy-to-reproduce code snippets, really appreciate it!

The Bug seems to occur due to the mismatch in date format between the two operands, i.e we are comparing the dask series (%Y-%m-%d) with DateTime literal value ("%Y-%m-%d %H:%M:%S"). Even though we are explicitly cast the operands.

My initial attempt at this Bug was here: https:

[2021-11-04 20:55] Thrameos commented on #297
@pentschev  The JVM produces segmentation faults as part of its garbage collection routines.   When you consider garbage collection it is obvious why that is the case.   The garbage collector must follow all of the pointers in the code and that means testing every potential memory address to see if it is valid.   Thus it is going to hit memory that looks like
a pointer and turns out to be invalid.

[2021-11-05 15:30] charlesbluca opened #299 "[QST] Transition to CalVer with next release?"
**What is your question?**
In #257, I suggested maybe moving our versioning to CalVer to match up with Dask/Distributed - how do we feel about doing that with our next release? We may have another one coming soon, as it would be nice to have a stable version out with the JVM segfaults in #297 resolved.

I was thinking `YYYY.MM.MINOR` to mirror Dask/Distributed, not sure if we would want to zero-pa

[2021-11-05 16:01] quasiben commented on #299
+1 to switching to CalVer

xref: https://github.com/dask/community/issues/100 for the larger discussion on the decision to switch

cc @goodwanghan for awareness

[2021-11-05 22:46] pentschev commented on #297
Yes, I understand the problem, thanks for the detailed explanation @Thrameos . Since UCX indeed installs an error handler, I don't see much alternative other than choosing either the Java or the UCX one, and we need to choose which one to keep. The UCX one can be disabled with `UCX_HANDLE_ERRORS=none` as I mentioned before, but I can imagine it will be very hard to debug potential issues with comp

[2021-11-08 20:15] charlesbluca opened #302 "[QST] How should we restrict Dask/Distributed dependencies for development/release?"
**What is your question?**

I've been thinking about how we restrict our Dask/Distributed dependencies a bit, mostly for two reasons:

1. I realize that our Dask restrictions are outdated - currently our sorting algorithm depends on changes that were introduced in `2021.10.0`, but we allow for any version `>=2.19.0`
2. With the dask-ml breakages being tracked in https://github.com/dask/dask/issues

[2021-11-08 20:30] ayushdg commented on #302
I'm in favor of this strategy where we pin to the latest working dask release at the time of a dask-sql release and keep testing with the latest dask/distributed/dask-ml in CI to find any breaking changes from those libraries.

Another thing we could do in addition to the above is track PRs to `dask-sql` that specifically depend on PRs to underlying libraries like `dask/cudf` to help keep track of

[2021-11-09 20:37] charlesbluca commented on #290
cc @goodwanghan in case you have any thoughts on this

[2021-11-10 15:28] jdye64 commented on #288
After looking at the pytest a little more the other 2 situations that I wanted to cover appear to already be covered. Therefore I'm going to close this general issue and we can open more specific ones if edge cases pop up.

[2021-11-10 15:28] #288 closed

[2021-11-10 18:28] charlesbluca commented on #297
This should be resolved by #294, but we can leave this issue open to continue tracking if this is a problem

[2021-11-10 23:25] bryevdv opened #307 "[BUG] Exception with simple Group By / Count aggregation with dask_cudf DataFrame"
**What happened**:

The following simple query exploded:
[code]

Traceback:

<details>

[code]
</details>

**What you expected to happen**:

Results to be returned / no exception

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**:

Download data with:
[code]

**Environment**:

standard rapids-21.10 env

- dask-sql version: 0.4
- Python version: 3.8.10
- Operating

[2021-11-11 01:04] ayushdg commented on #307
Thanks for raising this issue @bryevdv. I tested this in a 21.10 environment and was not able to reproduce.
Here's the command I used for the environment creation:
`mamba create -n rapids-21.10-test -c rapidsai -c nvidia -c conda-forge rapids=21.10 python=3.8 cudatoolkit=11.2 dask-sql=0.4.0`

Would it be possible to share the versions of dask, distributed & dask-cudf from your environment as well!

[2021-11-11 16:37] bryevdv commented on #307
@ayushdg AFAIK I created the env similarly, I always just copy a command from https://rapids.ai/start.html  Here is the full conda env:

<details>

[code]
</details>

[2021-11-11 16:46] bryevdv commented on #307
@ayushdg OK the error goes away with a fresh environment. I thought my old was was fairly pristine but evidently not. Apologies for the noise

[2021-11-11 16:46] #307 closed

[2021-11-11 17:35] ayushdg commented on #307
Thanks for the update! Looking at the conda environment the difference I see is `dask/distributed` versions `2021.8.1` while dask-cudf=21.10 was pinned to `2021.9.1` at release. That would most likely explain the errors.

[2021-11-11 17:56] VibhuJawa opened #309 "[ENH] Add tests for cuML+Dask-ML+dask-sql"
**Is your feature request related to a problem? Please describe.**

Once [PR](https://github.com/dask/dask-ml/pull/862) lands, We should add tests for cuML+DASK-ML+dask-sql  to ensure we have CI success there.

We should also remove marked xfail tests marked in this PR https://github.com/dask-contrib/dask-sql/pull/304

CC: @charlesbluca , @randerzander , @ChrisJar

[2021-11-11 18:07] charlesbluca commented on #309
Is dask-ml planning a release shortly after this PR? We'll probably also need to bump our dependency version as well

[2021-11-11 18:11] VibhuJawa commented on #309
I don't know how the `dask-ml` release cycle works to be honest but thanks will ensure that we update the dependency version as needed.

[2021-11-11 18:19] charlesbluca opened #310 "[BUG] dask-sql-server + Superset not working for GPU tables"
**What happened**:
It is relatively trivial to connect dask-sql's Presto server to Apache Superset for some basic visualization. Things seem to be working fine for Pandas-backed tables, but when attempting to run any queries with cuDF-backed tables we run into a `TypeError`:

[code]

**What you expected to happen**:
I would expect to be able to use cuDF-backed tables in Superset the same as Pandas

[2021-11-11 22:05] charlesbluca commented on #299
This is done, we are now on `2021.11.0`

[2021-11-11 22:05] #299 closed

[2021-11-12 14:58] charlesbluca commented on #310
#312 addresses this, but isn't an ideal solution IMO due to the forced host synchronization; it may be worthwhile to explore different SQL server options that allow for different response types that don't require us to iterate over table rows.

[2021-11-13 00:21] randerzander opened #315 "[ENH] Support user control over case sensitivity"
Some SQL query generators make it difficult to control the upper/lower cases of columns, tables, etc in emitted SQL.

In my use case, I'm trying to avoid modifying a query that uses uppercase column names, where my table was defined w/ lower case column names. It'd be useful to allow a configuration of case sensitivity used in the SQL parsing step. It [looks like](https://stackoverflow.com/questio

[2021-11-13 00:23] randerzander commented on #315
Perhaps this feature would use #286 after it merges.

[2021-11-15 17:01] randerzander opened #319 "[ENH] Support INTERSECT operator"
Sometimes intead of using a `JOIN`, an `INTERSECT` is used to find the overlap in two sets of records:
[code]
Result:
[code]

[2021-11-16 01:28] randerzander opened #320 "[ENH] Support correlated subqueries"
I'd like to be able to execute correlated subqueries.

It looks like the following example is successfully parsed by Calcite, but there's a logic error in mapping to Dask DataFrame calls:
[code]

Result:
[code]

[2021-11-16 17:17] ayushdg commented on #320
Thanks for reporting @randerzander! I can't reproduce the error with the latest dask-sql and dask releases button reproduce with dask from main since the merge of dask/dask#8341. cc: @charlesbluca

[2021-11-16 19:27] randerzander opened #321 "[DOC] Describe how to install w/ GPU support"
## Report incorrect documentation

https://dask-sql.readthedocs.io/en/latest/pages/installation.html should include a section about how to install w/ RAPIDS so that Dask-SQL works on GPUs.

**Suggested fix for documentation**
Could be as simple as installing w/ the conda command in https://github.com/dask-contrib/dask-sql/issues/284

[2021-11-16 22:09] #279 closed

[2021-11-17 17:35] #270 closed

[2021-11-17 18:17] charlesbluca commented on #309
Yup, just noticed and was actually just about to un-xfail the tests 😃 are you currently working on this? If not I can go ahead and open up my PR

[2021-11-17 18:23] VibhuJawa commented on #309
Please feel free to un-xfail your tests.

I am working on adding some tests for cuML+Dask-SQL which are tangential to the tests marked in this [PR](https://github.com/dask-contrib/dask-sql/pull/304/files).

[2021-11-17 19:15] charlesbluca commented on #320
This should be resolved with dask/dask#8389; we can leave this open until the next Dask release with that PR is pushed out

[2021-11-18 19:30] ayushdg opened #323 "[ENH] Support predicate pushdown in dask-sql"
**Is your feature request related to a problem? Please describe.**
It would be great if filter operations in a sql clause could be pushed down to the io layer for formats like `parquet` that support filtering based on statistics/metadata.

**Describe the solution you'd like**
There are a couple of ways this could be tackled:
1. Implement this as a part of the graph optimization step within dask HL

[2021-11-22 16:47] rjzamora commented on #323
Thanks for the ping @ayushdg !

I was about to start exploring basic predicate-pushdown optimizations in dask-dataframe, but paused the effort when the idea of a [high-level expression system](https://github.com/dask/dask/issues/7933) started picking up steam as the "preferred solution" (and I became quite distracted by other things).  I don't think it will difficult to implement predicate pushdow

[2021-11-25 23:50] PeterLappo opened #331 "[QST] pytest fails on mac"
Hi
pytests are failing on my Mac using pytest tests e.g.
ERROR tests/integration/test_postgres.py::test_select - docker.errors.APIError: 400 Client Error for http+docker://localhost/v1.41/containers/eb41afb2350c9a5f82a7f872db25539aed6115bf5cf2ae3e813b68d9e2e0736b/...
I have docker installed
Any ideas?
Thanks
Peter

[2021-11-29 14:45] charlesbluca commented on #331
Thanks for your contributions @PeterLappo 😄 do you have the relevant Docker images for Hive/Postgres testing pulled?

https://github.com/dask-contrib/dask-sql/blob/a3fc92d72383fcc4b72e3092477c67fb5903f4a2/.github/workflows/test.yml#L104-L105

[2021-11-29 16:45] VibhuJawa opened #332 "[BUG]Predict fails with multi GPU cuML models"
#### [BUG]Predict fails with multi GPU cuML models

We currently deep copy context when predicting with models (see [line](https://github.com/dask-contrib/dask-sql/blob/0c0578799bdf21879bce4e66dd9d4413b63791d5/dask_sql/physical/rel/custom/predict.py#L91)). This behavior is not supported for some multi-gpu cuML models due to lacking `__deepcopy__ ` attribute.

**DASK-SQL MRE**

[code]

**cuML MRE**

[2021-11-30 14:18] #332 closed

[2021-11-30 21:35] PeterLappo commented on #331
Pull didn't help. I changed test_postgres.py
1) to expose ports
        network="dask-sql",
        environment={"POSTGRES_HOST_AUTH_METHOD": "trust"},
        **ports={"5432": "5432"}**

2) set address to be my IP
 address = **'192.168.1.98'**  # postgres.attrs["NetworkSettings"]["Networks"]["dask-sql"]["IPAddress"]

Maybe my Docker Desktop setup is different

[2021-12-02 00:56] charlesbluca commented on #320
Forgot to mention, but it would probably be good to add a test for this specific type of query so that we can verify this continues to work in the future. IIRC, tests weren't failing when this stopped working

[2021-12-02 18:09] charlesbluca commented on #323
It's not true predicate pushdown, but would it be a reasonable short term solution to add support for `filters` in `CREATE TABLE ... WITH (...)` statements? This would at least allow dask-sql's read functionality to match up with Dask's in this regard.

[2021-12-02 18:30] randerzander commented on #323
It would be nice to support filters in `CREATE TABLE ... WITH` (CTW) statements, but the primary use case is for predicates supplied and applied "dynamically" at query time.

A data engineer "in the loop" would certainly understand the ability to use CTW syntax to achieve the same effect. But queries generated programmatically or via things like a self-service BI tool wont.

[2021-12-08 19:22] charlesbluca commented on #296
Is there any reason why we can't just cast the date scalars to `pd.Timestamps` instead of `datetime.datetime`?

[code]

This seems to give us matching types between scalar `DATE` objects and the results of a `CAST(... as date)` operation, which seems to resolve things both these queries and those described in [this comment](https://github.com/dask-contrib/dask-sql/pull/298/files#issuecomment-97176

[2021-12-08 19:33] charlesbluca commented on #296
Looks like that guess was correct:

[code]

In that case, perhaps the documentation on this belongs in cuDF? cc @quasiben

[2021-12-08 19:53] taureandyernv opened #342 "[QST] Preferences on stand in Dask-SQL logo"
Hey, I was working on a Dask-SQL portion of a webpage that also had a separate Dask portion and logo.  In lieu of an official logo, I created these 3 possible logo options for Dask-SQL based on the Exo font and your alterations to it.  The Q's style had some debate to it.
We wanted to know which do you prefer to be a temporary logo?
![dasksql](https://user-images.githubusercontent.com/46935140/145

[2021-12-08 21:08] randerzander commented on #342
Thanks for creating some example logos!

I'm not sure what rules or guidelines Dask has (if any) for dask-contrib projects. That said, I personally like either of the last two (can't actually tell how they are different?)

[2021-12-08 21:10] taureandyernv commented on #342
just the tail of the Q is different

[2021-12-09 11:01] jacobtomlinson commented on #342
I think having logos for subprojects is a great idea. We would be able to use them in documentation to make it clear which site you are on.

Of those examples I think my preference would be for the last one.

cc @jsignell and @jrbourbeau who I've discussed Dask branding with lately.

[2021-12-09 19:46] randerzander opened #344 "[ENH] Add percentile function(s)"
I'd like to compute [median using percentiles](https://stackoverflow.com/questions/26863139/how-to-calculate-median-in-hive) of a column:
[code]
[code]

I also tried [Postgres's percentile_disc](https://leafo.net/guides/postgresql-calculating-percentile.html):
[code]
[code]

[2021-12-14 15:16] quasiben opened #346 "log4j Vulnerability"
Due to the recently discovered log4j vulnerability I think we need to restrict log4j versions to 2.15.0.  I _think_ this done in the [pom.xml](https://github.com/dask-contrib/dask-sql/blob/main/planner/pom.xml) file

xref https://www.cisa.gov/uscert/ncas/current-activity/2021/12/13/cisa-creates-webpage-apache-log4j-vulnerability-cve-2021-44228

@jdye64 is this something you're familiar with ?

[2021-12-14 15:20] jdye64 commented on #346
Yes, I can take care of this. We also need to update out version of Calcite which also uses log4j. I have been follow their dev mailing list and they started their builds yesterday evening EDT. Once those are published to maven central I will make a PR updating both.

[2021-12-14 15:23] charlesbluca commented on #346
Can/should we backport this restriction to older dask-sql PyPI packages as well?

[2021-12-14 15:26] jdye64 commented on #346
I am not too worried about the previous releases because we actually were using a version of `log4j` that was older than the vulnerability was in (we use 1.2.17 and vulnerability doesn't start till 2.0.X) However I think it is just best to update to the latest just to be safe.

[2021-12-14 21:52] jdye64 commented on #346
It is looking like Calcite 1.29.0 might not be released until possibly next Monday. Just wanted to keep everyone updated.

[2021-12-15 14:46] randerzander commented on #346
Another lower effort approach could be to have an open issue for users to comment if they _need/want_ a re-release of older versions. Dask-SQL is new enough there's probably low resistance to just taking the latest packages.

[2021-12-17 16:28] jdye64 commented on #344
Interesting. I can take a look at this

[2021-12-20 18:06] randerzander commented on #344
https://github.com/rapidsai/cudf/issues/4706 probably a blocker

[2021-12-21 16:58] charlesbluca opened #350 "⚠️ Nightly upstream-dev CI failed ⚠️"
Looks like the Dask upstream testing has started failing:

https://github.com/dask-contrib/dask-sql/actions/runs/1604667145

This should've triggered an issue to be opened automatically, but didn't; I can look into that later, but it seems to have something to do with these conditionals:

https://github.com/dask-contrib/dask-sql/blob/2e5cfcb59701ea7d35b146a32690a0315b7f82d8/.github/workflows/test-

[2021-12-21 17:40] ayushdg commented on #350
Test failures seem to be ml related. I can look into this unless someone already is

[2021-12-21 17:43] galipremsagar commented on #350
@ayushdg You can look into it. AFAIK no one else is looking into it.

[2021-12-21 18:56] ayushdg commented on #350
Tracked this down to failures in dask/dask-ml#895 post the merge of dask/dask#8452.

[2021-12-21 21:26] jdye64 commented on #297
Should we close this now as it no longer seems to be an issue?

[2021-12-21 21:29] jdye64 commented on #155
Could this issue be closed now?

[2021-12-21 21:31] jdye64 commented on #5
With https://github.com/dask-contrib/dask-sql/commit/98c38cfba0ca3a08f539523c6480cc2736b505cd being merged could this issue be closed?

[2021-12-22 22:28] jsignell commented on #342
Yeah :+1: on sub-project logos. From an org perspective, it would be great to come up with guidelines on how to make these. So once you settle on one (2 and 3 both seem good) can you add a section to https://marketing.dask.org/en/latest/colors.html#logos explaining how you did it?

[2021-12-23 19:55] randerzander commented on #158
This issue has resurfaced:

[code]

[code]

[2022-01-04 15:51] #297 closed

[2022-01-05 10:02] VibhuJawa opened #353 "[ENH]Add tests for GPU backend of TPOT"
**Is your feature request related to a problem? Please describe.**
Now that we have GPU support for ML in `dask-sql` we should add tests for gpu backend of TPOT.

[2022-01-05 19:30] ayushdg commented on #350
This should now be fixed since dask/dask-ml#898 merged. @charlesbluca Would it be possible to trigger a run with upstream dask and dask-ml to see if the issue is resolved on our end?

[2022-01-05 20:21] charlesbluca commented on #350
Currently our upstream testing only uses latest Dask, but I can modify it to also use latest dask-ml and then run a test manually.

[2022-01-05 21:01] charlesbluca commented on #350
Tested with the latest dask / dask-ml in this [run](https://github.com/dask-contrib/dask-sql/actions/runs/1660208403) and looks like things are working again 🎉 thanks for the work here @ayushdg!

[2022-01-06 14:59] #350 closed

[2022-01-07 15:23] #346 closed

[2022-01-07 17:19] randerzander opened #357 "[BUG] Log4j warning when using Dask-SQL in Jupyter"
With the new version of Calcite, I've started seeing an SLF4J warning when using Dask-SQL in Jupyter.

Can we disable or fix this warning?

[code]

Warning displayed:
[code]

[2022-01-07 17:20] randerzander commented on #357
cc @jdye64

[2022-01-07 17:42] jdye64 commented on #357
I'll fix this

[2022-01-07 18:15] #357 closed

[2022-01-10 12:56] VibhuJawa commented on #353
Picking this up .

[2022-01-10 14:52] jdye64 commented on #156
This issue could be closed now right?

[2022-01-10 17:30] randerzander opened #360 "[BUG] DateTime filtering broken"
[code]

[code]

[2022-01-10 17:30] randerzander commented on #360
cc @jdye64

[2022-01-10 17:49] jdye64 opened #361 "[ENH] Create Dask-SQL flag for remote debugging of Calcite JVM instance"
Currently debugging Dask-SQL query parsing errors is tedious and requires setting up Java driver programs to use the debugger. Optimally we should allow for a flag to be passed into dask-sql on startup that will suspend the JVM and allow for remote java debugging via jdwp.

[2022-01-10 18:15] jdye64 commented on #360
I found the problem here. The ConfigurationContext is not being set now that the FrameworkConfiguration object was removed in the CBO refactor and that needs to be set in DaskPlanner.java. What default timezone should we use?

[2022-01-10 18:16] randerzander commented on #360
Postgres seems to use GMT by default, but is user configurable.

Perhaps this should be configurable at the database level for us as well.

[2022-01-10 20:59] #360 closed

[2022-01-10 21:00] #361 closed

[2022-01-10 21:19] igorbb opened #364 "[QST] How to create a custom list or array aggregation"
**How can one  create an aggregation that returns a list/array?**

I have tried the following snippet:

[code]
But it seems this does not work for the parser
[code]

Is there a way to create a dd.aggregation that return a list or array ?

[2022-01-10 23:21] #364 closed

[2022-01-12 20:04] randerzander commented on #315
This issue has resurfaced

[2022-01-13 16:18] randerzander opened #367 "[ENH] Support "show tables" metadata query"
It's common to create tables programmatically using names derived from filenames or other non-static source.

It would be nice to support "SHOW TABLES" (from Hive & Spark) as a way to query Dask-SQL for the list of tables in the default database:
[code]

Result:
[code]

*Edit*: Now I see [the doc page](https://dask-sql.readthedocs.io/en/latest/pages/sql/describe.html) shows a way to achieve this.

[2022-01-13 16:26] randerzander commented on #367
cc @ayushdg as a possible good first Calcite issue for you to work on

[2022-01-13 16:31] charlesbluca commented on #367
We currently support `SHOW TABLES FROM`:

[code]

[code]

Are you looking specifically for support for `SHOW TABLES` alone?

[2022-01-13 16:33] randerzander commented on #367
Thanks for the quick response. I edited the issue description above to make clearer I was looking for "SHOW TABLES" in the context of the current database/schema.

[2022-01-13 19:56] charlesbluca commented on #315
Do we know when this issue reappeared? Assuming it would be after the Calcite bump but haven't checked myself

[2022-01-14 11:59] VibhuJawa opened #370 "[ENH] Backend agnostic machine learning models"
**Is your feature request related to a problem? Please describe.**
As we are working becoming more backend agnostic (GPU/CPU) , we should look into a way of supporting multiple ML backends with minimal code change .

**Describe the solution you'd like**

We currently have to specify the cuml/sklearn model class.  We should look into a way of training models where we detect what the input type is a

[2022-01-14 15:53] VibhuJawa commented on #155
Closing this as we support this now.

[2022-01-14 15:53] #155 closed

[2022-01-14 19:08] jdye64 commented on #315
@randerzander are you sure you are using the correct version in your tests? This seems to works and is tested in https://github.com/dask-contrib/dask-sql/blob/main/tests/integration/test_compatibility.py#L940

[2022-01-18 20:38] ayushdg commented on #258
After some debugging I was able to confirm that the `substr` method is enabled via the Postresql operator table as mentioned in https://github.com/dask-contrib/dask-sql/issues/258#issuecomment-944440271.

I'm suspecting that the issue with parsing was around case sensitivity since `SUBSTR` worked and was able to confirm that `substr` also works after setting the config `dask.sql.identifier.case.se

[2022-01-19 14:56] jdye64 commented on #258
Ahh yeah that makes complete sense. Good find!

[2022-01-21 16:15] randerzander opened #375 "[DOC] Add example of "CREATE TABLE WITH" including read filter arguments"
After #338 merged, we should be able to eliminate unnecessary reads from storage.

A glance at both the API docs page, and the SQL syntax page have no mention of this valuable capability for the keyword arguments supported in CREATE TABLE WITH statements

[2022-01-21 16:16] randerzander commented on #375
@DaceT can you tackle this?

[2022-01-21 17:09] DaceT commented on #375
Yes, I can!

[2022-01-28 17:26] ayushdg opened #385 "[BUG] `select from table limit` reads the full dataset and persists in memory."
**What happened**:
When performing a `SELECT * FROM table LIMIT 10`, from a table read in via parquet, I notice the full dataset being read and persisted on query execution.

**What you expected to happen**:
Nothing to happen at query execution and when the user does decide to persist/compute the result only the relevant subset of data is read in.

**Minimal Complete Verifiable Example**:

[code]

[2022-01-28 19:44] charlesbluca commented on #385
Looks like this is happening because of a direct call to `persist()` in `_apply_offset`:

https://github.com/dask-contrib/dask-sql/blob/b571a600a639f0dcabd9d0162d01d078472e3e51/dask_sql/physical/rel/logical/limit.py#L61

Which is used by the `DaskLimitPlugin` to handle offsets and limits on select statements.

[2022-01-28 19:50] ayushdg commented on #385
Thanks for triaging. So there's a couple of things I'd like to discuss.
- Explore if not persisting is an option.
- Irrespective of the persist, do we need to read in the full data or can we read in a subset similar to doing ddf.head()

[2022-01-28 19:56] charlesbluca commented on #385
It looks like this is what's being done immediate after the persist; we check if the requested data is located in the first partition, and if so, simply use `df.head()`:

https://github.com/dask-contrib/dask-sql/blob/b571a600a639f0dcabd9d0162d01d078472e3e51/dask_sql/physical/rel/logical/limit.py#L62-L66

Failing this, we end up computing the length of each partition, which IIUC ends up persisting

[2022-01-28 20:43] charlesbluca commented on #385
Relevant PR attempting to add `ioc` to dask dataframes https://github.com/dask/dask/pull/6661

[2022-01-28 21:27] ayushdg commented on #385
Nice! Once this lands do you think we can leverage some of this logic within our limit plugin?

[2022-01-28 21:58] charlesbluca commented on #385
Yeah, I think even some smaller changes being discussed there (such as the addition of a pre-computed `partition_sizes` attribute) could be used to reduce the amount of cases where we would be forced to partially / fully persist a frame

[2022-01-28 22:33] ayushdg commented on #385
Thanks for that context. I think we should be good to close this issue but should raise another issue in dask-sql to explore operations where we could leverage `iloc` and/or just precomputing `partition_sizes` instead of persisting once that PR lands.

[2022-01-28 22:33] #385 closed

[2022-02-04 00:24] charlesbluca commented on #315
Yeah can verify that the following works for me with the latest dask-sql:

[code]

[2022-02-04 00:39] #315 closed

[2022-02-04 02:47] randerzander opened #390 "[ENH] Add support for writing query results to disk"
I'd like to do some data manipulation and persist results to storage.

In Hive and Spark, you can use the `CREATE EXTERNAL TABLE ...` syntax which allows specifying, for example, the storage location and file format.

Example:
[code]

The above is a somewhat verbose way of specifying CSV arguments, but we could simplify with the `keyword =` way our inputs work:
[code]

[2022-02-04 18:34] randerzander opened #391 "[BUG] First call to CREATE OR REPLACE TABLE shows confusing INFO"
If the first table a user creates is created with `CREATE OR REPLACE` syntax, they get a confusing INFO:

[code]

The table is successfully created, but the INFO message makes it seem like it might not have been.

Is there a reason to emit this message at all?

[2022-02-04 19:25] beckernick commented on #344
For `percentile(col)` use case may not be blocked by https://github.com/rapidsai/cudf/issues/4706 , as the top-level DataFrame has a quantile implementation and delegates appropriately.

[code]

For group / window percentiles (approx or otherwise), we'd likely want to resolve the linked issue and implement this in Dask

[2022-02-08 11:19] beaver3 opened #395 "DASK SQL <-> Spark Coalesce"
**Is your feature request related to a problem? Please describe.**
I wish I could use dask-sql to do the equivalent of Spark coalesce function:
https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.functions.coalesce.html

```select coalesce(col1,colb) as VALUE_NOT_NULL from TABLE```

**Describe the solution you'd like**

What is the equivalent in Dask SQL to this Code Snippet

[2022-02-08 16:10] beckernick commented on #395
Perhaps relevant for the GPU side: https://github.com/rapidsai/cudf/issues/10180

[2022-02-09 15:49] beaver3 commented on #395
yes Iabsolutely: https://github.com/rapidsai/cudf/issues/6759 is also asking for coalesce in dask sql.

[2022-02-09 17:35] VibhuJawa opened #397 "[ENH] Add GPU Tests and Docs for Hyperparameter Tuning, Automl , Exporting Trained Model and end to end examples"
**Is your feature request related to a problem? Please describe.**

In https://github.com/dask-contrib/dask-sql/pull/394 we are adding GPU section for ML model training.

All other sections (see below) of the [machine-learning](https://dask-sql.readthedocs.io/en/latest/pages/machine_learning.html#example) docs, they should probably work with GPU's . We don't have have tests for those now though. I

[2022-02-14 15:17] randerzander opened #399 "[ENH] Provide visibility into persisted tables and simple "restart" option"
Sometimes it's not clear when running a number of SQL scripts in a session whether all scripts "clean up" after themselves (dropping temp tables, unpersisting tables, de-registering UDFs, etc).

It would be useful to support Dask-SQL features that:
1. List all objects persisted to the underlying Dask cluster
2. Unpersist all persisted tables (perhaps also with schema level granularity)
3. Reset th

[2022-02-14 15:42] jdye64 commented on #399
@randerzander resetting the Context would not cause another JVM instance to be started. In fact the jvm instance is created before even creating a Context and rather is started as a result of the first `import dask_sql ....` is called

[2022-02-14 15:43] randerzander commented on #399
thanks for confirming

[2022-02-14 18:38] #367 closed

[2022-02-14 20:10] #296 closed

[2022-02-14 22:03] jakirkham opened #400 "[ENH] Changing `java` command to build option"
**Is your feature request related to a problem? Please describe.**

Currently Dask-SQL has a non-standard build option, `java`, which is used to build the Java components. Though this is presumably something we would want to do during the package build. This would also make it easier to use with other Python build tools familiar with standard Python build options (like `build_ext`).

**Describe th

[2022-02-14 22:17] ayushdg opened #401 "[DOC] API docs not rendering"
## Report incorrect documentation

**Location of incorrect documentation**
The api documentations [page](https://dask-sql.readthedocs.io/en/latest/pages/api.html) returns a blank page on the docs site.

Might be similar to #215

---

[2022-02-14 22:26] charlesbluca commented on #400
Yeah this is something I wanted to do in https://github.com/dask-contrib/dask-sql/pull/396 when we swapped to using `versioneer.get_cmdclass()` so that package build would be consolidated like it was when we explicitly defined the `build_py` command:

https://github.com/dask-contrib/dask-sql/blob/8d6480017b14acc8becd41cb93ca9c8dc72bd887/setup.py#L45-L51

I think `build_ext` seems like the most sen

[2022-02-14 23:07] charlesbluca commented on #401
Attempting to build the docs, it looks like we fail when trying to load in a non-existent function:

[code]

Looks like `dask_sql.integrations.fugue.fsql` might have been relocated to `fsql_dask`? If that's the only issue then it should be a hypothetically easy fix, although I'm interested in why this wouldn't have cause the RTD builds to fail outright.

Think this is a good motivator to add RTD b

[2022-02-15 00:03] jdye64 commented on #269
@ayushdg could this possible be a candidate for your latest dask configuration work?

[2022-02-15 00:16] charlesbluca commented on #401
It looks like this breakage in particular is because of https://github.com/dask-contrib/dask-sql/pull/396, as `python setup.py install` no longer builds the Java extensions, which are needed for the API docs.

I will see if we can customize the build script for dask-sql, otherwise we may need to make a custom `build_ext` step as suggested in https://github.com/dask-contrib/dask-sql/issues/400 so t

[2022-02-15 00:19] ayushdg commented on #269
In some sense yes.
There's two aspects to this work:

1. Updating this logic on the Java side to accept a config option and potentially also allowing users to set this config within sql itself using the set syntax as discussed here: `SET dask.sql.{schema_name}.{table_name}.persist = true;`

2. Allowing users to pass this config from the python side.

The latest config updates will make the second

[2022-02-15 00:47] jakirkham commented on #400
Sounds good. Happy to chat 🙂

Think [this doc]( https://setuptools.pypa.io/en/latest/deprecated/distutils/apiref.html#creating-a-new-distutils-command ) may help fill in some details of how this might work. Though would use [the setuptools equivalent]( https://setuptools.pypa.io/en/latest/deprecated/distutils-legacy.html ) (they are still working on porting things over/cleaning it up).

[2022-02-15 09:55] beaver3 commented on #395
this works for me, many thanks!

[2022-02-15 09:55] #395 closed

[2022-02-15 17:55] randerzander commented on #258
This was resolved now that we can configure case sensitivity

[2022-02-15 17:55] #258 closed

[2022-02-15 19:33] ayushdg commented on #344
Happy to look into this a bit more

[2022-02-17 01:05] github-actions[bot] opened #404 "⚠️ Upstream CI failed ⚠️"
[Workflow Run URL](https://github.com/dask-contrib/dask-sql/actions/runs/1856070010)

[2022-02-17 02:25] ayushdg commented on #404
Looks like the bot is working as intended 😄 Failures come from the fact that dask and distributed have dropped python 3.7 support. Given these changes (and the fact that rapids has dropped 3.7 support as well), it might make sense for dask-sql to also drop 3.7 support starting next release.

[2022-02-17 03:44] charlesbluca commented on #404
Looks like we should finally be good to merge in #383 - I will resolve merge conflicts there and commit

[2022-02-18 21:02] charlesbluca opened #407 "[QST] Should dask-sql maintain compatibility on independent clusters?"
**What is your question?**

One advertised feature of dask-sql is its ability to compute queries on relatively bare Dask clusters - to back this claim up, we run a majority of our tests on an independent Dask cluster started in a Docker container https://github.com/dask-contrib/dask-sql/blob/main/.github/docker-compose.yaml, with little added to the base environment outside of a bump to the pandas

[2022-02-22 19:20] randerzander commented on #407
It feels worthwhile to try to allow Dask-SQL to work as a client-only library, in particular since it presently involves a fairly large JDK component.

If, on further investigation, you find that it's a big effort to support that, I could be convinced otherwise, especially if Dask-SQL's packaging can be simplified such that only the client node needs the JDK

[2022-02-23 20:51] quasiben commented on #407
I would suggest we keep it very minimal, we do want to validate it works as a client-only library but changing / testing the existence of third party libraries seems out of scope.  Dask clusters typically assume a uniform environment and we should be safe making the same assumptions here

[2022-02-24 07:03] github-actions[bot] opened #410 "⚠️ Upstream CI failed ⚠️"
[Workflow Run URL](https://github.com/dask-contrib/dask-sql/actions/runs/1925516901)

[2022-02-24 18:16] charlesbluca commented on #410
Looks like this is just a result of the Windows tests timing out:

https://github.com/dask-contrib/dask-sql/runs/5312602010?check_suite_focus=true

Might be worth it to figure out what leads to this happening, but don't think this failure is specific to the upstream libraries

[2022-02-24 18:29] charlesbluca commented on #407
I think maintaining dask-sql as a client-only library makes sense and shouldn't be too difficult to continue (right now, that is still the case, there are just some optional dependencies that may be required in the cluster to run certain queries). My question is more directed at if it's worth it to go a step further and also verify that queries run successfully on a cluster with almost none of the

[2022-02-24 18:36] ayushdg commented on #410
The closest think I found to this was: https://github.com/ray-project/ray/issues/13511 which seems to indicate that on windows starting the jvm via jpype might throw these errors.
I think we can continue monitoring for now, and dig deeper into failures if this pops up again.

[2022-02-24 19:17] randerzander commented on #407
Do we presently know which features that includes? Or are you suggesting we need to do testing work to build such a list?

[2022-02-28 16:10] #400 closed

[2022-03-02 01:18] randerzander opened #411 "[ENH] Support timestampdiff"
Following the Calcite docs, I was confused about how to compute the difference between two timestamps. I found `TIMESTAMPDIFF(timeUnit, datetime, datetime2)`, but that doesn't seem to work:
[code]

The Calcite docs indicate `timestampdiff` is equivalent to `(timestamp2 - timestamp1 timeUnit)`. That will parse and execute, but the timeUnit appears to be ignored. Below I get a delta in hours regardl

[2022-03-02 01:27] randerzander opened #412 "[ENH] Support casting timedeltas to plain numerics"
Related to #411

I'm trying to convert a timedelta to an integer:
[code]

cc @ayushdg , @jdye64

[2022-03-02 01:34] randerzander opened #413 "[ENH] Support UNIX_$timeUnit functions"
Related to #412

I'm trying to do math on timestamps, but ran into #411 and #412.

The Calcite docs suggest
[code]

But that fails to parse:
[code]

cc @ayushdg , @jdye64

[2022-03-02 02:21] charlesbluca commented on #411
Is this request covered by https://github.com/dask-contrib/dask-sql/issues/242? If so looks like there was an attempt to pick this up in #293 but not sure if that's ready for review (cc @rajagurunath)

[2022-03-02 21:11] VibhuJawa opened #414 "[BUG]Prediction with empty partitions fails on sklearn dask-ml models"
Prediction with empty partitions fails on sklearn dask-ml Models .  This is because sklearn currently errors on empty frames. I am opening this issue here to track the best approach (wether its a fix  that should go in `dask-ml` or `sklearn`  or `dask-sql`.

Trace:
[code]

**What happened**:
[code]

**What you expected to happen**:

Would expect this to work similar to `cuML` .

[2022-03-07 17:35] charlesbluca commented on #410
Going to go ahead and close this since things have been passing over the past few days - will dig into that issue if we see the same errors cropping up in the future.

[2022-03-07 17:35] #410 closed

[2022-03-07 18:29] VibhuJawa commented on #309
Closed by https://github.com/dask-contrib/dask-sql/pull/330

[2022-03-07 18:29] #309 closed

[2022-03-07 20:22] randerzander opened #415 "[BUG] Segfaults on "select count(*) from test" with tables on top of cuDF DataFrames"
test.py:
[code]

**EDIT**: Leaving the below UCX snippet and trace for historical purposes, but the issue seems entirely unrelated to UCX.

[code]
trace:
[code]

[2022-03-07 20:23] randerzander commented on #415
cc @jdye64, @pentschev

[2022-03-07 20:24] jdye64 commented on #415
Conda environment to reproduce

[code]

[2022-03-07 20:52] pentschev commented on #415
Seems like the same issue from https://github.com/dask-contrib/dask-sql/issues/297 which was fixed by https://github.com/dask-contrib/dask-sql/pull/294 , any chance that fix has been reverted?

[2022-03-07 21:48] scharlottej13 opened #416 "[DOC] Error with Binder link"
## Report incorrect documentation

**Location of incorrect documentation**
There is an error loading [binder](https://mybinder.org/v2/gh/dask-contrib/dask-sql-binder/main?urlpath=lab) in the link provided in the [Quickstart section](https://github.com/dask-contrib/dask-sql#quickstart) of the readme.

**Describe the problems or issues found in the documentation**
The error message is `Error loading

[2022-03-07 22:08] VibhuJawa opened #417 "[ENH]Warn users when training non dask friendly ML models with wrap_predict=False."
**Is your feature request related to a problem? Please describe.**

We should warn users when training non dask friendly ML models with wrap_predict=False.  This is because when `wrap_predict=False` we assume that the model can handle non dask objects.

https://github.com/dask-contrib/dask-sql/blob/98c38cfba0ca3a08f539523c6480cc2736b505cd/dask_sql/physical/rel/custom/create_model.py#L189-L190

Thi

[2022-03-07 23:57] ayushdg commented on #416
Happy to take this on!

[2022-03-08 03:09] brightsparc opened #418 "[ENH]: Add extension support to allow swapping in own SqlParser and rel Plugins."
**Is your feature request related to a problem? Please describe.**
I am interested in building my own custom SqlParser and Plugins, similar to the way the custom [machine learning](https://dask-sql.readthedocs.io/en/latest/pages/machine_learning.html) features have been added to the core library.

There are currently no easy extension points due to the [DaskSqlParser](https://github.com/dask-contr

[2022-03-08 13:37] jdye64 commented on #415
@pentschev I went back and checked the offending files from issue #297 and they have not been accidentally reverted but that was a good thing to check.

[2022-03-08 15:50] pentschev commented on #415
The point here seems nevertheless to be that [JVM produces segmentation faults as part of its garbage collection](https://github.com/dask-contrib/dask-sql/issues/297#issuecomment-961413764) which are posteriorly caught by the UCX error handling. As per my https://github.com/dask-contrib/dask-sql/issues/297#issuecomment-962263794 , I don't see any way around it but to disable UCX error handling, an

[2022-03-08 20:44] charlesbluca commented on #416
I definitely think relocating these notebooks to a more public location where we can continue contributing to it is a great idea - wondering if maybe a better place to relocate these notebooks would be [dask-examples](https://github.com/dask/dask-examples/)? Looking at Dask-ML's binder link, it seems to use the binder generated there with a filepath to specify the notebook to load into.

[2022-03-09 02:15] ayushdg commented on #416
That seems like a possible options as well. Here's what I have so far:
1. Move notebooks to Dask-examples and add dask-sql as requirement to [dask-examples](https://github.com/dask/dask-examples/).
2. Move notebooks and environment to a new repository or dask-sql itself.
3. Move notebooks to [dask-examples](https://github.com/dask/dask-examples/) but create environment elsewhere (dask-sql/new repo

[2022-03-09 16:00] randerzander commented on #415
fyi, the second snippet above fails regardless of UCX. Updating the issue title to reflect.

Also, I notice that the only conda environments in which these _don't_ fail are ones in which I'm building dask-sql, dask, and distributed from source. I'm going to keep peeling back env customizations to further narrow.

[2022-03-09 18:02] markope opened #421 "[BUG] index name "timestamp" not recognized in SQL"
The following example has a dataframe with an index named "timestamp". If you want to use the column in a WHERE clause in SQL there is an error.

[code]

The Error Message is:
[code]

I can "fix" this situation by renaming the index

[code]

This still results in an error message, but just related to a datatype mismatch:
[code]

For the examples above I used this docker image `nbraun/dask-sql:2022

[2022-03-10 03:09] ayushdg commented on #415
I was able to triage this to environments with `cuml` resolving to older dask versions. This issue only comes up when we use the newer nightlies of cudf/dask-cudf with an older version of dask (2021.11.2).

Here is a minimal reproducer outside dask-sql:
[code]
We should be good to close on this repo.

Side note: The reproducer outside dask-sql shows the actual error (python recursion depth exceede

[2022-03-10 03:13] randerzander commented on #415
Thank you for digging into this, Ayush. This explains my working environments (which were removing older versions of Dask, then building/installing from Dask & Distributed main).

[2022-03-10 03:13] #415 closed

[2022-03-10 15:44] charlesbluca commented on #414
Is this an issue that can be narrowed down to a Dask-ML reproducer? If so, I would assume a fix would make sense there as generally Dask APIs shouldn't run into issues if a dataframe contains empty partitions

[2022-03-10 19:31] charlesbluca opened #423 "[ENH] Add support for tables with categorical columns"
**Is your feature request related to a problem? Please describe.**
It would be nice if Dask-SQL supported tables with categorical columns; currently, when the attempting to query a table with categorical columns, we get the following stack:

[code]

[code]

**Describe the solution you'd like**
In an ideal world, mapping the categorical dtype to some existing categorical dtype in SQL, so that queri

[2022-03-10 21:10] VibhuJawa commented on #414
Yup. The hope is that i can push a fix for this in Dask-ML .  If not then fallback to a fix here.  Will like to keep this issue open for tracking purposes.

[2022-03-11 14:37] charlesbluca commented on #414
Makes sense to me - feel free to ping this issue with any follow up discussion / PRs on dask-ml

[2022-03-11 15:19] charlesbluca opened #424 "[QST] Remove SQL compatibility null handling from join code?"
**What is your question?**

_TLDR - there's some costly null handing in our join code to maintain SQL compatibility - should we remove this like we did with groupby null handling?_

In #290, we had some discussion around the extent to which Dask-SQL should perform costly workarounds to maintain SQL compatibility - in that case, it was null-splitting operations happening for groupbys to maintain a

[2022-03-11 15:24] charlesbluca commented on #391
No, I'm not sure why we choose to log that message at the `warning` level, as there are various cases where one might perform SQL queries without actually registering any tables - I can start off a PR switching this to a debug level log, and also look through the code to see if there's any other places where it might be more fitting to switch the log level.

[2022-03-11 16:50] ayushdg opened #427 "[ENH] Explore index join support on sql merges."
**Is your feature request related to a problem? Please describe.**
Dask supports optimizing joins when certain columns are indexed or their divisions are known. It might make sense to see if this optimized codepath is being utilized by dask-sql in cases where applicable and if not, what would be required to enable this.

[2022-03-13 01:59] randerzander opened #429 "[BUG] read_parquet filters don't seem to be applied as passed in CREATE TABLE statements"
I'm trying to use a `CREATE TABLE WITH (... filters=[...])` on a Parquet dataset, and trying to achieve row group filtering based on filters supplied in the `CREATE TABLE` statement, but the filters don't seem to be passed the Dask reader call successfully.

Apologies I don't have a minimal reproducer here, but I couldn't as yet figure out how to create multiple row-groups in a Parquet file withou

[2022-03-13 02:08] randerzander opened #430 "[BUG] Can't infer file type of table when passing directory name only"
[code]

Trace:
[code]

[2022-03-17 19:56] ayushdg commented on #430
The logic today for inferring file formats if not explicitly provided is just checking the file extension using the following: https://github.com/dask-contrib/dask-sql/blob/c3ad6a9f6b01ce02127fde7501eaf322c8160f7e/dask_sql/input_utils/location.py#L41-L44

I believe some work can be done to improve the error message when an extension was not provided in the file path and encourage users to explicit

[2022-03-21 14:39] charlesbluca opened #435 "[ENH] Redefining core dependencies, improving documentation on non-core dependencies"
Recently, there's been some thought into what dependencies Dask-SQL should be packaged with or not - there are a lot of packages included included in the [standard conda package](https://github.com/dask-contrib/dask-sql/blob/c3ad6a9f6b01ce02127fde7501eaf322c8160f7e/setup.py#L89-L100) that will likely go unused by a majority of users (e.g. `fastapi` and `uvicorn`, which are only used when running a

[2022-03-21 18:38] randerzander commented on #430
Since we're talking about improving this feature, I might be missing where the logic to handle it would actually be applied, but it doesn't look like these checks include handling Dask's `_metadata` or Spark's `_SUCCESS` file if they're in the directory?

This sounds like a nicer user experience than asking people to type `.../*.parquet` which is about as much typing as including the `format = 'pa

[2022-03-23 16:02] charlesbluca commented on #424
One difficulty I'm encountering in removing this code is that Calcite's SQL parser actually implicitly does its own optimizations if you add `IS [NOT] NULL` conditions to joins - for example, something like:

[code]

Would ignore the `df1.b IS NOT NULL` since a join operation "shouldn't" have nulls in its result. On top of forcing users to use explicit `WHERE` statements to filter out nulls from a

[2022-03-24 00:54] lmeyerov opened #438 "[BUG] CVEs in conda release"
**What happened**:

Running Grype on DaskSQL.jar from the latest conda release  (`dask-sql=2022.1`) returned 6 fixable CVEs

[code]

with template `grype.friendly.tmpl`

[code]

=>

[code]

**What you expected to happen**:

The latest stable release should ideally have no fixable CVEs

**Minimal Complete Verifiable Example**:

See above

**Anything else we need to know?**:

**Environment**:

- das

[2022-03-24 13:14] quasiben commented on #438
Is it possible to get links to the CVEs ?  For example, when I search for [jackson-databind](https://attackerkb.com/search?q=jackson-databind) I see CVEs for 2.9 but dask-sql [depends on 2.10](https://github.com/dask-contrib/dask-sql/blob/5dac500ef0566b537db43b4a5db14cf2d53da634/planner/pom.xml#L45-L47)

[2022-03-24 13:40] charlesbluca commented on #438
Did some digging and found links for all of them:

- jackson-databind: https://vulners.com/github/GHSA-57J2-W4CX-62H2
- httpclient: https://vulners.com/github/GHSA-7R82-7XV7-XCPJ
- json-smart:
  - https://vulners.com/github/GHSA-FG2V-W576-W4V3
  - https://vulners.com/github/GHSA-V528-7HRM-FRQP
- common-io: https://vulners.com/github/GHSA-GWRP-PVRQ-JMWV
- snakeyaml: https://vulners.com/github/GHSA-

[2022-03-25 02:12] VibhuJawa commented on #414
Started issue https://github.com/dask/dask-ml/issues/911 and PR https://github.com/dask/dask-ml/pull/912 to fix this.

[2022-03-26 04:23] lmeyerov commented on #438
Quick update: `dask_sql` is now the remaining source of fixable CVEs in RAPIDS ( https://github.com/rapidsai/docker/issues/442 )

[code]

=>

[code]

[2022-03-28 14:41] charlesbluca commented on #438
To update this, it looks like the following CVEs are resolvable right now:

- json-smart
- commons-io
- snakeyaml

While the following are currently blocked:

- jackson-databind (currently waiting on a new release to resolve)
- httpclient (a dependency of Calcite Avatica 1.20.0, waiting on a new release to resolve)

IIUC, the primary exposure for these CVEs in dask-sql is through its server implem

[2022-03-28 16:14] lmeyerov commented on #438
Great! RAPIDS 2022.02 updated last week, guessing they may wait for the coming 2022.04 burndown for the next, not sure of landing date

[2022-04-06 01:28] github-actions[bot] opened #444 "⚠️ Upstream CI failed ⚠️"
[Workflow Run URL](https://github.com/dask-contrib/dask-sql/actions/runs/2099670872)

[2022-04-06 21:08] charlesbluca commented on #444
Should be resolved by #447

[2022-04-06 21:08] #444 closed

[2022-04-07 17:17] charlesbluca commented on #438
To give a general update on the ongoing work to resolve these CVEs:

- #445 has resolved the CVEs in json-smart, commons-io, and snakeyaml
- #449 should resolve the jackson-databind CVE
- still waiting on a new Calcite Avatica release to resolve the httpclient CVE, in the meantime we will disable our SQL server in #448 until that CVE can be resolved

[2022-04-07 21:14] lmeyerov commented on #438
Thanks -- we've been disabling dask_sql.jar in our scans, if there's a conda release we should run again, lmk

[2022-04-11 13:40] charlesbluca commented on #438
Turns out the `httpclient` CVE was easier to resolve than once thought 🙂 merged in https://github.com/dask-contrib/dask-sql/pull/453 and did patch release 2022.4.1 with the fix - on my end there are no longer any fixable CVEs detected by `grype` - @lmeyerov if you get a chance can you confirm?

[2022-04-11 16:46] lmeyerov commented on #438
Super exciting! Will kick off a build & scan

[2022-04-12 01:29] github-actions[bot] opened #455 "⚠️ Upstream CI failed ⚠️"
[Workflow Run URL](https://github.com/dask-contrib/dask-sql/actions/runs/2152107267)

[2022-04-12 01:37] ayushdg commented on #455
On initial inspection it looks like the fugue imports are failing due with an error message from `antlr`. A new conda package just dropped which most likely explains the error: https://anaconda.org/conda-forge/antlr-python-runtime/files. Looking further into this

[2022-04-12 02:15] ayushdg commented on #455
Raised upstream issue here: https://github.com/fugue-project/fugue/issues/318, we should be able to unblock CI by setting a max pin on `antlr4-python-runtime` to prevent picking up the latest version.

[2022-04-12 15:08] jdye64 opened #457 "[DF] Add Selective Aggregates - Filter"
**Is your feature request related to a problem? Please describe.**
Apache Datafusion cannot currently parse the `Filter` syntax of a selective aggregate query. The current implementation with Apache Calcite does support this functionality. We need to add this support to Dask-SQL using Datafusion to ensure that we honor a non-breaking backing SQL implementation.

More information about the Filter c

[2022-04-12 15:18] jdye64 opened #458 "[DF] Remove DaskTableProvider struct `table_name` member"
**Is your feature request related to a problem? Please describe.**
As a work around to a Datafusion limitation a private member, `table_name` was introduced to the `DaskTableProvider` in `table.rs`. This member is manually maintained and has the possibility to accidentally introduce errors. A [PR](https://github.com/apache/arrow-datafusion/issues/2164) is already open to address this limitation.

[2022-04-12 16:06] jdye64 opened #459 "[DF] Port Nested Subqueries to Datafusion"
**Is your feature request related to a problem? Please describe.**
Nested subqueries need to be ported from the Apache Calcite data structures to the Apache Datafusion data structures.

**Describe the solution you'd like**
All references should be removed from `select.py`, and likewise any other locations where subqueries could be present. All instances of calcite references removed should be repl

[2022-04-12 16:09] jdye64 opened #460 "[DF] Port Join logic to Datafusion"
**Is your feature request related to a problem? Please describe.**
Remove references to Calcite in `join.py` and replace those references with correlating references to Datafusion. This also includes any base logic that might make use of Join syntax.

**Describe the solution you'd like**
Replace instances of [Calcite LogicalJoin](https://calcite.apache.org/javadocAggregate/org/apache/calcite/rel/l

[2022-04-12 16:12] jdye64 opened #461 "[DF] Port Sort logic to Datafusion"
**Is your feature request related to a problem? Please describe.**
Update all existing "Sort" logic to replace Apache Calcite data structures with Apache Datafusion data structures.

**Describe the solution you'd like**
Replace instances of [Calcite LogicalSort](https://calcite.apache.org/javadocAggregate/org/apache/calcite/rel/logical/LogicalSort.html) with correlating instances of [Datafusion So

[2022-04-12 16:23] jdye64 opened #462 "[DF] Port Project logic to Datafusion"
**Is your feature request related to a problem? Please describe.**
Update all existing "Project" logic to replace Apache Calcite data structures with Apache Datafusion data structures.

**Describe the solution you'd like**
Replace instances of Calcite [LogicalProject](https://calcite.apache.org/javadocAggregate/org/apache/calcite/rel/logical/LogicalProject.html) with correlating instances of Dataf

[2022-04-12 16:25] jdye64 opened #463 "[DF] Port Filter logic to Datafusion"
**Is your feature request related to a problem? Please describe.**
Update all existing "Filter" logic to replace Apache Calcite data structures with Apache Datafusion data structures.

**Describe the solution you'd like**
Replace instances of Calcite [LogicalFilter](https://calcite.apache.org/javadocAggregate/org/apache/calcite/rel/logical/LogicalFilter.html) with correlating instances of Datafusi

[2022-04-12 16:28] jdye64 opened #464 "[DF] Port Aggregate logic to Datafusion"
**Is your feature request related to a problem? Please describe.**
Update all existing "Aggregate" logic to replace Apache Calcite data structures with Apache Datafusion data structures.

**Describe the solution you'd like**
Replace instances of Calcite [LogicalAggregate](https://calcite.apache.org/javadocAggregate/org/apache/calcite/rel/logical/LogicalAggregate.html) with correlating instances of

[2022-04-12 16:31] jdye64 opened #465 "[DF] Example of creating a custom function"
**Is your feature request related to a problem? Please describe.**
A concise example of creating a custom UDF using the new Datafusion syntax would allow for users to understand writing, registering, and using UDFs that are not supported by Dask-SQL out of the box.

**Describe the solution you'd like**
Straight forward README and code example that lays out how a user can create a custom UDF

**Des

[2022-04-12 16:36] jdye64 opened #466 "[DF] Port Window logic to Datafusion"
**Is your feature request related to a problem? Please describe.**
Update all existing "Window" logic to replace Apache Calcite data structures with Apache Datafusion data structures.

**Describe the solution you'd like**
Replace instances of Calcite [LogicalWindow](https://calcite.apache.org/javadocAggregate/org/apache/calcite/rel/logical/LogicalWindow.html) with correlating instances of Datafusi

[2022-04-12 16:43] jdye64 opened #467 "[DF] Validate Rex call stability"
**Is your feature request related to a problem? Please describe.**
Testing, tweaking, repeat needs to happen for the Rex (Row Expression) logic after all of the porting is complete. Rex calls are fundamental to SQL and likewise Dask-SQL. They involve small nuances and therefore should be validated to ensure they are operating as expected. Small mishaps in the rex call logic could cause erroneous o

[2022-04-12 16:45] jdye64 opened #468 "[DF] Port Select logic to Datafusion"
**Is your feature request related to a problem? Please describe.**
Update all existing "Select" logic to replace Apache Calcite data structures with Apache Datafusion data structures.

**Describe the solution you'd like**
Replace instances of Calcite [RelNode](https://calcite.apache.org/javadocAggregate/org/apache/calcite/rel/RelNode.html) with correlating instances of Datafusion [LogicalPlan](htt

[2022-04-12 16:47] jdye64 opened #469 "[DF] Port TableScan logic to Datafusion"
**Is your feature request related to a problem? Please describe.**
Update all existing "TableScan" logic to replace Apache Calcite data structures with Apache Datafusion data structures.

**Describe the solution you'd like**
Replace instances of Calcite [LogicalTableScan](https://calcite.apache.org/javadocAggregate/org/apache/calcite/rel/logical/LogicalTableScan.html) with correlating instances of

[2022-04-12 16:50] jdye64 opened #470 "[DF] Port Union logic to Datafusion"
**Is your feature request related to a problem? Please describe.**
Update all existing "Union" logic to replace Apache Calcite data structures with Apache Datafusion data structures.

**Describe the solution you'd like**
Replace instances of Calcite [LogicalUnion](https://calcite.apache.org/javadocAggregate/org/apache/calcite/rel/logical/LogicalUnion.html) with correlating instances of Datafusion

[2022-04-12 18:00] #455 closed

[2022-04-12 21:57] andygrove opened #472 "[DF] Add GitHub workflow for cargo fmt and cargo clippy"
**Is your feature request related to a problem? Please describe.**
It is standard practice to have CI run `cargo fmt --check` and `cargo clippy` on pull requests on Rust projects. It makes it easier for other developers to contribute if we are all using the same code formatting.

**Describe the solution you'd like**
Set up GtiHub actions to run `cargo fmt` and `cargo clippy` checks. We can look at

[2022-04-12 23:22] andygrove commented on #459
This depends on https://github.com/apache/arrow-datafusion/issues/2219

[2022-04-13 20:29] lmeyerov opened #473 "[BUG] dask_sql does not import on CPU CI when RAPIDS is installed"
**What happened**:

`import dask_sql` throws `RuntimeError`

This is due to not handling that `import dask_cudf` in RAPIDS `22.04` may now throw `RuntimeError` (vs just `ImportError`)

The env scenario where this would happen is a CPU box that has (inactive) rapids libs. E.g., CPU CI, or a universal distro, where rapids python is installed in the env, but there is no actual libcuda, and the user i

[2022-04-13 20:55] lmeyerov commented on #438
... Confirmed, thank you!

It took a bit because it required an unexpectedly early upgrade to rapids `22.04`

If helpful, it's now part of our daily scans

[2022-04-13 21:18] #438 closed

[2022-04-14 14:59] andygrove opened #474 "[DF] DataFusion Missing Features & Bugs"
The purpose of this issue is to track the work that we need to do in the DataFusion project to support moving the dask-sql planner to DataFusion.

## SQL Query Planner and Logical Plan

- [ ] Subquery Support
 - [ ] [EXISTS subquery](https://github.com/apache/arrow-datafusion/issues/2219)
 - [ ] IN subquery
 - [ ] Scalar subquery
- [ ] [Date and Interval Arithmetic Operations](https://github.com/a

[2022-04-14 22:06] ayushdg commented on #242
I have been looking into this a bit more and updating #293 locally to work with the latest branch. On further inspection it looks like the main issue with `month` and `year` comes from calcite assuming a different `time_interval` for the date subtraction vs the other time units.
Currently we handle the `SqlDatetimeSubtractionOperator` the same as any regular subtraction operation but I think we mi

[2022-04-14 22:35] DaceT opened #475 "[BUG] NameError from DataFusion changes"
**What happened**:
I'm getting a NameError while testing one of the converted dask-sql notebooks, specifically the `dsql_vs_pyspark_netflow`, with Jeremy's DataFusion changes.

**What you expected to happen**:
I expected it to run with no errors.

**Traceback**:
https://gist.github.com/DaceT/b82b36a092d83ec19f995ce7f9b2e0c7

[2022-04-15 14:28] jdye64 commented on #475
Looks like I inadvertently changed the build to not include the `sql.yaml` file as I was adding the rust logic. I have made the adjustment and the file will now be present after [this](https://github.com/dask-contrib/dask-sql/pull/471) is merged

[2022-04-15 14:44] jdye64 opened #476 "[DF] Enable DataFusion CBO"
**Is your feature request related to a problem? Please describe.**
DataFusion offers support for optimizing a LogicalPlan (CBO - Cost Based Optimization). We currently are not utilizing that functionality however. The idea being we get everything working without it to stabilize and then write the plumbing code to enable it after that. This issue serves as a reminder that the CBO still needs to be

[2022-04-15 18:24] DaceT opened #477 "[BUG] FileNotFoundError from DataFusion changes"
**What happened**:
I'm getting a FileNotFoundError  while testing the other converted dask-sql notebooks, `federated_query_demo_dasksql` and `getting_started_with_dasksql`, with Jeremy's DataFusion changes.

**What you expected to happen**:
I expected it to run with no errors.

**Traceback**:
https://gist.github.com/DaceT/9a5c7b406f6c8cbc2b1e181e84114dfb

https://gist.github.com/DaceT/a9a68b03b36e

[2022-04-15 19:36] andygrove opened #478 "[DF] Build against master branch of DataFusion"
**Is your feature request related to a problem? Please describe.**
The master branch of DataFusion has bug fixes and new features that we want to use from dask-sql so we may want to build against the master branch in the short term rather than depending on version 7.0.0.

**Describe the solution you'd like**
Change cargo.toml dependency:

[code]

**Describe alternatives you've considered**
None

*

[2022-04-15 19:41] charlesbluca commented on #477
Looking at the traces, it looks like the issue here is the same as in #475, in that the `sql.yaml` is not yet included in the DataFusion build, which should be resolved with #471.

Do you mind if I close this in favor of #475?